// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-weight: 400;
	line-height: 1.5em;
	//	position: absolute;
	color: $color-black;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto;
}

body,
html {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	width: 100%;
	height: 100%;
}

.scroll-touch {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

a {
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		outline: none;
	}
	&:active,
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

strong,
b {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

p {
	margin: 0;
	font-size: 1em;
	line-height: 1.6em;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.3em;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	cursor: pointer;
}
