@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables",
"abstracts/functions",
"abstracts/mixins",
"abstracts/_placeholders";

// 2. Vendors
@import "../../node_modules/bootstrap/scss/bootstrap";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer", "layout/form";

// 5. Components
@import "components/button";

// 6. Page-specific styles
@import "pages/onboarding", "pages/auth";

// 7. Themes
@import "themes/default";