<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp webapp--room-page">
  {% include "partials/webapp/aside.html" %}
  <section class="section">
    <div class="container-fluid">      
      <div class="content">
        <div class="row">
          <div class="col-md-12">             
            <form class="form form--section">
              <div class="form-group alert-section">
                <div class="alert alert-danger m-0" role="alert">
                  <p class="text">Sorry, email failed to change there is server problem</p>
                  <button type="button" class="btn btn-close btn-close--alert"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="form-group alert-section">
                <div class="alert alert-success m-0" role="alert">
                  <p class="text">Your email has been updated</p>
                  <button type="button" class="btn btn-close btn-close--alert"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="form-group">
                <div class="form__field">                  
                  <label class="label-title" for="">Email</label>
                  <div class="input-wrapper">
                    <input type="email" class="form-control" id="" placeholder="ruditabuti_20@gmail.com">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form__field form__field--has-border">                  
                  <h4 class="label-title">Email change</h4>
                  <p class="text">Check your email <span class="bold">ruditabuti_20@gmail.com</span> to confirm your email address, the change won’t take effect until confirmed</p>
                  <p class="text">Don’t see a confirmation email? <a href="javascript:void(0)" class="resend-link bold" data-bs-toggle="modal" data-bs-target="#exampleModal">Resend email confirmation</a></p>
              </div>
              <div class="form-group">
                <div class="form__field form__field--has-subtitle">
                  <label class="label-title" for="">Current Password</label>
                  <small class="label-sub-title">(Leave blank if you don't want to change it)</small>
                  <div class="input-wrapper input-wrapper--has-icon">
                    <input type="password" maxlength="6" class="form-control form__input--password form__input--password" id="" placeholder="">
                    <i class="icon icon-password fas fa-eye"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form__field form__field--has-subtitle">                  
                  <label class="label-title" for="">New  Password</label>
                  <small class="label-sub-title">(Maximum 6 characters)</small>
                  <div class="input-wrapper input-wrapper--has-icon">
                    <input type="password" maxlength="6" class="form-control form__input--password form-control form-control--disabled" id="" placeholder="">
                    <i class="icon icon-password fas fa-eye"></i>
                  </div>
                </div>
              </div>              
              <div class="form-group">
                <div class="form__field">                  
                  <label class="label-title" for="">Confirm new Password</label>                  
                  <div class="input-wrapper input-wrapper--has-icon">
                    <input type="password" maxlength="6" readonly class="form-control form__input--password form-control--disabled form-control--error" id="" placeholder="">
                    <i class="icon icon-password fas fa-eye"></i>
                    <div class="form__invalid-message invalid-feedback">Confirm password does not match</div>
                  </div>
                </div>
              </div>
              <button class="button button--black button--update">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->
<div class="modal modal--confirmation fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resend Email Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      </div>
      <div class="modal-body">
        <p class="text">Hi ruditabuti, you will do resend email confirmation to <span class="bold">ruditabuti_20@gmail.com</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button--soft-black" data-bs-dismiss="modal">Resend</button>
        <button type="button" class="button button--black-outline">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}