<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp">
  {% include "partials/webapp/aside.html" %}
  <section class="section section--list-of-whare">
    <div class="container-fluid">      
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="header-navigation">
              <a href="#" class="button button--grey-outline">
                <i class="fas fa-arrow-left"></i>
              </a>
              <h4 class="title">Edit Room</h4>
            </div> 
          </div>
          <div class="col-md-12">
            <form class="form form--section">
              <div class="form-group">
                <div class="alert alert-danger m-0" role="alert">
                  <p class="text">Server problem, data failed to save</p>
                  <button type="button" class="btn btn-close"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="form-group">
                <div class="form__field">                  
                  <label class="label-title" for="">Room Name</label>
                  <div class="input-wrapper">
                    <input type="email" class="form-control" id="" placeholder="Room Name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form__field">                  
                  <label class="label-title" for="">Sensor Mac Address </label>
                  <div class="input-wrapper">
                    <input type="email" class="form-control" id="" placeholder="109C-35-5B-5F-4C-D7">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="label-title" for="">Room Type</label>
                <div class="form__field form__field--has-radio form__field--multiple-row">
                  <label class="form__label" for="inlineRadio1">
                    <input class="form__input form__input--radio" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1">
                    <div class="form__custom-radio-wrapper">
                      <div class="form__custom-radio"></div>
                      <div class="form__custom-radio-title">Baby’s Room</div>
                    </div>
                  </label>
                  <label class="form__label" for="inlineRadio2">
                    <input class="form__input form__input--radio" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option1">
                    <div class="form__custom-radio-wrapper">
                      <div class="form__custom-radio"></div>
                      <div class="form__custom-radio-title">Child’s Bedroom</div>
                    </div>
                  </label>
                  <label class="form__label" for="inlineRadio3">
                    <input class="form__input form__input--radio" type="radio" name="inlineRadioOptions1" id="inlineRadio3" value="option3">
                    <div class="form__custom-radio-wrapper">
                      <div class="form__custom-radio"></div>
                      <div class="form__custom-radio-title">Adult’s Bedroom</div>
                    </div>
                  </label>
                  <label class="form__label" for="inlineRadio4">
                    <input class="form__input form__input--radio" type="radio" name="inlineRadioOptions1" id="inlineRadio4" value="option4">
                    <div class="form__custom-radio-wrapper">
                      <div class="form__custom-radio"></div>
                      <div class="form__custom-radio-title">Living Space</div>
                    </div>
                  </label>
                </div>
              </div>
              <button class="button button--black">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->

{% endblock %}