<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<main class="auth">
  <section class="section section--logo">
    <figure class="image-wrapper">
      <img src="assets/img/logo.png" alt="" class="img img-fluid">
    </figure>
  </section>
  <section class="section section--form">
    <form class="form">
      <h6 class="title">Forgot Password?</h6>
      <div class="form-field">
        <label for="" class="form-label">Email</label>
        <div class="input-wrapper">
          <input type="email" class="form-control" placeholder="Eg. masramadtcm@gmail.com">
        </div>
      </div>
      <div class="button-wrapper">
        <button class="button button--black">Send Me Instructions</button>
      </div>
      <div class="link-wrapper border-none">
        <a href="login.html" class="link text-center">Back to Login</a>
      </div>
    </form>
  </section>
</main>

{% endblock %}
