<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% import 'macros/nav-macro.html' as nav %} {{nav.active('')}}
</header>
<main class="auth">
  <section class="auth__section">
    <div class="container">
      <div class="auth__row row">
        <div class="col-md-5">
          <div class="auth__content">
            <div class="auth__content-wrapper">
              <h2 class="auth__sub-title">Content :</h2>              
              <ul class="auth__list">
                <li class="auth__item">
                  <a href="login.html" class="auth__link">Login</a>
                </li>
                <li class="auth__item">
                  <a href="sign_up.html" class="auth__link">Sign Up</a>
                </li>
                <li class="auth__item">
                  <a href="confirm_instruction.html" class="auth__link">Confirm Instruction</a>
                </li>
                <li class="auth__item">
                  <a href="resend_email.html" class="auth__link">Resend Email</a>
                </li>
                <li class="auth__item">
                  <a href="forgot_password.html" class="auth__link">Forgot Password</a>
                </li>
                <li class="auth__item">
                  <a href="step_form.html" class="auth__link">Step Form</a>
                </li>
                <li class="auth__item">
                  <a href="step_form_finish.html" class="auth__link">Step Form Finish</a>
                </li>
                <li class="auth__item">
                  <a href="installation_guide.html" class="auth__link">Installation Guide</a>
                </li>
                <li class="auth__item">
                  <a href="list-of-whare.html" class="auth__link">List of Whare</a>
                </li>
                <li class="auth__item">
                  <a href="edit-whare.html" class="auth__link">Edit Whare</a>
                </li>
                <li class="auth__item">
                  <a href="room.html" class="auth__link">Room</a>
                </li>
                <li class="auth__item">
                  <a href="edit-room.html" class="auth__link">Edit Room</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}