<!-- index.html -->
{% extends "layout.html" %}

{% block content %}


<main class="auth">
  <section class="auth__section">
    <div class="container">
      <div class="auth__row row">
        <div class="col-md-5">
          <div class="auth__content">
            <div class="auth__content-wrapper">
              <h2 class="auth__sub-title">Content :</h2>              
              <ul class="auth__list">
                <li class="auth__item">
                  <a href="installation_guide.html" class="auth__link">Installation Guide</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}