<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<main class="installation-guide">
  <section class="installation-guide__section">
    <div class="container-fluid">
      <div class="row row-installation ">
        <div id="guideStep" class="step-app col-xs-12 col-sm-12 col-md-12 col-lg-9">
          <aside class="sidebar">
            <i class="icon icon--close toggle--nav fas fa-times"></i>
            <div class="sidebar__title">Installation Guide</div>
            <ul class="sidebar__list  step-steps">
              <li class="sidebar__item active" data-step-target="step1">
                <a href="javascript:void(0)" class="sidebar__link">
                  <i class="icon icon--list fas fa-dot-circle"></i>
                  <p class="sidebar__item-name">Mānawa Sensor Kit</p>
                </a>
              </li>
              <li class="sidebar__item" data-step-target="step2">
                <a href="javascript:void(0)" class="sidebar__link">
                  <i class="icon icon--list fas fa-dot-circle"></i>
                  <p class="sidebar__item-name">Turn on Mānawa Gateway</p>
                </a>
              </li>
              <li class="sidebar__item" data-step-target="step3">
                <a href="javascript:void(0)" class="sidebar__link">
                  <i class="icon icon--list fas fa-dot-circle"></i>
                  <p class="sidebar__item-name">Connect Gateway to Internet</p>
                </a>
              </li>
              <li class="sidebar__item" data-step-target="step4">
                <a href="javascript:void(0)" class="sidebar__link">
                  <i class="icon icon--list fas fa-dot-circle"></i>
                  <p class="sidebar__item-name">Login to Manawa.nz</p>
                </a>
              </li>
              <li class="sidebar__item" data-step-target="step5">
                <a href="javascript:void(0)" class="sidebar__link">
                  <i class="icon icon--list fas fa-dot-circle"></i>
                  <p class="sidebar__item-name">Connect Sensors to Whare</p>
                </a>
              </li>
              <li class="sidebar__item" data-step-target="step6">
                <a href="javascript:void(0)" class="sidebar__link">
                  <i class="icon icon--list fas fa-dot-circle"></i>
                  <p class="sidebar__item-name">Name Your Sensor</p>
                </a>
              </li>
              <li class="sidebar__item" data-step-target="step7">
                <a href="javascript:void(0)" class="sidebar__link">
                  <i class="icon icon--list fas fa-dot-circle"></i>
                  <p class="sidebar__item-name">Install Mānawa Sensors</p>
                </a>
              </li>
            </ul>
          </aside>
          <div class="slide-content step-content">
            <div class="slide-content__panel step-tab-panel" data-step="step1">
              <figure class="slide-content__image-wrapper">
                <img src="assets/img/guide_one.jpg" alt="" class="slide-content__image img-fluid">
              </figure>
              <div class="slide-content__card">
                <div class="slide-content__inner-wrapper">
                  <h4 class="slide-content__title">What comes in your Mānawa sensor kit?</h4>
                  <ul class="slide-content__list">
                    <li class="slide-content__item">
                      <i class="icon icon--list-content fas fa-check-circle"></i>
                      <p class="slide-content__text">Mānawa gateway</p>
                    </li>
                    <li class="slide-content__item">
                      <i class="icon icon--list-content fas fa-check-circle"></i>
                      <p class="slide-content__text">4 x Mānawa sensors</p>
                    </li>
                    <li class="slide-content__item">
                      <i class="icon icon--list-content fas fa-check-circle"></i>
                      <p class="slide-content__text">1 x Micro USB to USB power cable</p>
                    </li>
                    <li class="slide-content__item">
                      <i class="icon icon--list-content fas fa-check-circle"></i>
                      <p class="slide-content__text">1 x LAN cable</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="slide-content__panel step-tab-panel" data-step="step2">
              <figure class="slide-content__image-wrapper">
                <img src="assets/img/guide_two.svg" alt="" class="slide-content__image img-fluid">
              </figure>
              <div class="slide-content__card">
                <div class="slide-content__inner-wrapper">
                  <h4 class="slide-content__title">Turn on your Mānawa gateway</h4>
                  <p class="slide-content__text">Plug in the Micro USB, into the slot next to the On/Off button. Plug in
                    the USB into your router or use an adapter (not included) to plug it into a power socket.
                    Press the On/Off button. Your Mānawa gateway will light up into a rainbow.</p>
                </div>
              </div>
            </div>
            <div class="slide-content__panel step-tab-panel" data-step="step3">
              <figure class="slide-content__image-wrapper">
                <img src="assets/img/guide_two.svg" alt="" class="slide-content__image img-fluid">
              </figure>
              <div class="slide-content__card">
                <div class="slide-content__inner-wrapper">
                  <h4 class="slide-content__title">Connect your Mānawa gateway to the Internet</h4>
                  <p class="slide-content__text">Connect the LAN cable to your Mānawa gateway. Connect the LAN cable to
                    your router.</p>
                </div>
              </div>
            </div>
            <div class="slide-content__panel step-tab-panel" data-step="step4">
              <figure class="slide-content__image-wrapper">
                <img src="assets/img/guide_three.svg" alt="" class="slide-content__image img-fluid">
              </figure>
              <div class="slide-content__card">
                <div class="slide-content__inner-wrapper">
                  <h4 class="slide-content__title">Login to Manawa.nz</h4>
                  <p class="slide-content__text">Open your browser, go to https://manawa.nz/ then enter your username
                    and password</p>
                </div>
              </div>
            </div>
            <div class="slide-content__panel step-tab-panel" data-step="step5">
              <figure class="slide-content__image-wrapper">
                <img src="assets/img/guide_four.svg" alt="" class="slide-content__image img-fluid">
              </figure>
              <div class="slide-content__card">
                <div class="slide-content__inner-wrapper">
                  <h4 class="slide-content__title">Connect your sensors to your Whare</h4>
                  <p class="slide-content__text">Making sure the gateway is on and while watching the front of the
                    sensor.
                    PRESS the button on the back for 3 secs, the sensor will long flash blue.
                    PRESS AGAIN for 3 secs, the sensor will flash 3 times, your sensor is now ON
                    It will take 10mins for the first reading from the sensor to show on your dashboard.</p>
                </div>
              </div>
            </div>
            <div class="slide-content__panel step-tab-panel" data-step="step6">
              <figure class="slide-content__image-wrapper">
                <img src="assets/img/guide_five.svg" alt="" class="slide-content__image img-fluid">
              </figure>
              <div class="slide-content__card">
                <div class="slide-content__inner-wrapper">
                  <h4 class="slide-content__title">Name your sensor</h4>
                  <p class="slide-content__text">On your dashboard, your sensor will be called “room-sensor-” with 12
                    characters.
                    In the top right corner is a pencil, select this and change the name of your room and select the
                    room type</p>
                </div>
              </div>
            </div>
            <div class="slide-content__panel step-tab-panel" data-step="step7">
              <figure class="slide-content__image-wrapper">
                <img src="assets/img/guide_six.svg" alt="" class="slide-content__image img-fluid">
              </figure>
              <div class="slide-content__card">
                <div class="slide-content__inner-wrapper">
                  <h4 class="slide-content__title">Install your Mānawa sensors</h4>
                  <p class="slide-content__text">Install your sensors in rooms, the lounge, kitchens, bathrooms any
                    where you would want to know the healthiness of your home.
                    We suggest installing at head height when sitting in the lounge or when lying in bed.
                    We do not suggest installing the sensors high up, as heat rises making the reading higher than it
                    should be.
                    The 3M sticker may tear wallpaper or paint if pulled. Bluetack is acceptable to use as well.</p>
                </div>
              </div>
            </div>
            <div class="navigation step-footer">
              <div class="navigation__toggle ">
                <i class="icon icon--nav toggle--nav fas fa-bars"></i>
              </div>
              <div class="navigation__bar">
                <p class="navigation__title">Step 1 of 7</p>
                <div class="navigation__button-wrapper">
                  <button data-step-action="prev" class="button button--back step-btn">
                    <i class="icon icon--nav fas fa-chevron-left"></i>
                  </button>
                  <button data-step-action="next" class="button step-btn ms-4">
                    <i class="icon icon--nav fas fa-chevron-right"></i>
                  </button>
                  <button data-step-action="finish" class="button step-btn ms-4">
                    <i class="icon icon--nav fas fa-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->

{% endblock %}