<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp">
  <section class="section section--list-of-whare">
    <div class="container-fluid">      
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card card--dashed">
              <div class="card-body">
                <div class="content">
                  <h2 class="title">Add New Whare</h2>
                  <i class="fas fa-plus-circle"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card--whare">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Rudi'house</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="content-list content-list--column">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="fas fa-home"></i> Private Rental
                    </div>
                  </div>
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="fas fa-envelope"></i> rudi.house@gmail.com
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="content-list">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Room</p>
                    </div>
                  </div>                
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Sensors</p>
                    </div>
                  </div>
                </div>
                <div class="card-cta">
                  <button class="btn btn--sm" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item dropdown-item--black " href="#"><i class="fas fa-edit"></i> Edit</a></li>
                    <li><a class="dropdown-item dropdown-item--red " href="#"><i class="far fa-trash-alt"></i> Delete</a></li>                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card--whare">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Rudi'house</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="content-list content-list--column">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="fas fa-home"></i> Private Rental
                    </div>
                  </div>
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="fas fa-envelope"></i> rudi.house@gmail.com
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="content-list">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Room</p>
                    </div>
                  </div>                
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Sensors</p>
                    </div>
                  </div>
                </div>
                <div class="card-cta">
                  <button class="btn btn--sm" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item dropdown-item--black " href="#"><i class="fas fa-edit"></i> Edit</a></li>
                    <li><a class="dropdown-item dropdown-item--red " href="#"><i class="far fa-trash-alt"></i> Delete</a></li>                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card--whare">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Rudi'house</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="content-list content-list--column">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="fas fa-home"></i> Private Rental
                    </div>
                  </div>
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="fas fa-envelope"></i> rudi.house@gmail.com
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="content-list">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Room</p>
                    </div>
                  </div>                
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Sensors</p>
                    </div>
                  </div>
                </div>
                <div class="card-cta">
                  <button class="btn btn--sm" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item dropdown-item--black " href="#"><i class="fas fa-edit"></i> Edit</a></li>
                    <li><a class="dropdown-item dropdown-item--red " href="#"><i class="far fa-trash-alt"></i> Delete</a></li>                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}