<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<main class="auth">
  <section class="section section--logo">
    <figure class="image-wrapper">
      <img src="assets/img/logo.png" alt="" class="img img-fluid">
    </figure>
  </section>
  <section class="section section--form">
    <form class="form">
      <h6 class="title">Please Sign In</h6>
      <div class="form-field">
        <label for="" class="form-label">Username</label>
        <div class="input-wrapper">
          <input type="text" class="form-control" placeholder="Eg. masrama">
        </div>
      </div>
      <div class="form-field">
        <label for="" class="form-label">Password</label>
        <div class="input-wrapper">
          <input type="password" class="form-control form-control--password" placeholder="Password">
          <i class="icon icon--password fas fa-eye"></i>
          <div class="error-wrapper">
            <i class="icon icon--error fas fa-info-circle"></i>
            <p class="text text--error">Those passwords didn’t match. Try again.</p>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="button button--black">Sign In                             </button>
      </div>
      <div class="link-wrapper">
        <a href="forgot-password.html" class="link text-center">Forgot Password</a>
      </div>
      <p class="text text--helper">Already have an account? <a href="login.html" class="link">Sign In</a></p>
    </form>
  </section>
</main>

{% endblock %}
