<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp">
  {% include "partials/webapp/aside.html" %}
  <section class="section section--list-of-whare">
    <div class="container-fluid">      
      <div class="content">
        <div class="row mb-0">
          <div class="col-md-12">
            <div class="header-navigation">
              <a href="list-of-whare.html" class="button button--grey-outline">
                <i class="fas fa-arrow-left"></i>
              </a>
              <h4 class="title">Previous Address</h4>
            </div>
          </div>
        </div>
        <div class="row mb-0">
          <div class="col-md-12">
            <div class="page-title">
              <h4 class="title">Rudi’s House</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card card--whare mx-0">
              <div class="card-body card-body--prev-address">
                <div class="content-list content-list--column">
                  <div class="content-list__item">
                    <div class="wrapper wrapper">
                      <h6 class="title">505/12 Mackelvie Street, Grey Lynn</h6>
                      <p class="text">Status : Private Rental</p>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="card-footer">
                <div class="content-list">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Room</p>
                    </div>
                  </div>                
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Sensors</p>
                    </div>
                  </div>
                </div>
                <div class="card-cta">
                  <button class="btn btn--sm" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item dropdown-item--black " href="#"><i class="fas fa-edit"></i> Edit</a></li>
                    <li><a class="dropdown-item dropdown-item--black " href="previous-address.html"><i class="fas fa-map-marked-alt"></i> Previous Address</a></li>
                    <li><a class="dropdown-item dropdown-item--black " href="#"><i class="fas fa-info-circle"></i> Warrant of fitness</a></li>
                    <li><a class="dropdown-item dropdown-item--red " href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="far fa-trash-alt"></i> Delete</a></li>                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card--whare mx-0">
              <div class="card-body card-body--prev-address">
                <div class="content-list content-list--column">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <h6 class="title">505/12 Mackelvie Street, Grey Lynn</h6>
                      <p class="text">Status : Private Rental</p>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="card-footer">
                <div class="content-list">
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Room</p>
                    </div>
                  </div>                
                  <div class="content-list__item">
                    <div class="wrapper">
                      <i class="icon icon--circle-green-sm">4</i>
                      <p class="text">Sensors</p>
                    </div>
                  </div>
                </div>
                <div class="card-cta">
                  <button class="btn btn--sm" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item dropdown-item--black " href="#"><i class="fas fa-edit"></i> Edit</a></li>
                    <li><a class="dropdown-item dropdown-item--black " href="previous-address.html"><i class="fas fa-map-marked-alt"></i> Previous Address</a></li>
                    <li><a class="dropdown-item dropdown-item--black " href="#"><i class="fas fa-info-circle"></i> Warrant of fitness</a></li>
                    <li><a class="dropdown-item dropdown-item--red " href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="far fa-trash-alt"></i> Delete</a></li>                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}