<!-- index.html -->
{% extends "layout.html" %} {% block content %}

<main class="auth">
  <section class="section section--logo">
    <figure class="image-wrapper">
      <img src="assets/img/logo.png" alt="" class="img img-fluid">
    </figure>
  </section>
  <section class="section section--form">
    <form class="form">
      <h2 class="title">Hi Please Register</h2>
      <div class="form-field">
        <label for="" class="form-label">Username</label>
        <div class="input-wrapper">
          <input type="text" class="form-control">
        </div>
      </div>
    </form>
  </section>
</main>

{% endblock %}
