<table>
  <tr class="logo">
    <td>
      <img src="" alt="">
    </td>
  </tr>
  <tr class="title">
    <td>
      <span style="text-align: center; font-weight: 600;">Period Reports</span>
    </td>
  </tr>
  <tr class="section-title">
    <td>
      <span style="font-weight: 600;">Rudi's House</span>
    </td>
  </tr>
  <tr class="detail-report">
    <td>
      <tr class="single-item">
        <td>Room Name</td>
        <td>: Bedroom - 2</td>
      </tr>
      <tr class="single-item">
        <td>Room Type</td>
        <td>: Children Bedroom</td>
      </tr>
    </td>
    <td>
      <tr class="single-item">
        <td>Date</td>
        <td>: Mon, 21 June 2021</td>
      </tr>
      <tr class="single-item">
        <td>Range Time</td>
        <td>: 00:00 - 05:00</td>
      </tr>
    </td>
  </tr>
  <tr class="section-title">
    <td>
      <span style="font-weight: 600;">Temperature Chart</span>
    </td>
  </tr>
  <tr>
    <td>chart</td>
  </tr>
  <tr>
    <td>legends</td>
  </tr>
  <tr class="section-title">
    <td>
      <span style="font-weight: 600;">Humidity Chart</span>
    </td>
  </tr>
  <tr>
    <td>chart</td>
  </tr>
  <tr>
    <td>legends</td>
  </tr>
</table>