<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<main class="report-view">
  <div class="row">
    <div class="col-12">
      <div class="header-logo">
        <figure class="logo-wrapper">
          <img src="assets/img/logo-text.png" alt="Manawa">
        </figure>
      </div>
    </div>
    <div class="col-12">
      <div class="title-wrapper">
        <h1 class="title-report">Period Report</h1>
      </div>
    </div>

    <div class="col-12">
      <div class="report-item">
        <div class="card card--room-line">
          <div class="card-header bb-none pb-0">
            <div class="title-wrapper">
              <h4 class="title">Rudi's House</h4>
            </div>
          </div>
          <div class="card-body bb-dash">
         <div class="row mb-0">
          <div class="col-lg-6">
            <div class="row item">
              <h3 class="col label">Room Name</h3>
              <h4 class="col text">: Bedroom - 2</h4>
            </div>
            <div class="row item">
              <h3 class="col label">Room Type</h3>
              <h4 class="col text">: Children Bedroom</h4>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row item">
              <h3 class="col label">Date</h3>
              <h4 class="col text">: Mon, 21 June 2021</h4>
            </div>
            <div class="row mb-0 item">
              <h3 class="col label">Range Time</h3>
              <h4 class="col text">: 00:00 - 05:00</h4>
            </div>
          </div>
         </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card card--room-line">
        <div class="card-header">
          <div class="title-wrapper">
            <h4 class="title">Temperature Chart</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas id="tempChart"></canvas>
            <div class="legends">
              <span class="item">
                <span class="color cold"></span>
                <span class="text">Cold</span>
              </span>
              <span class="item">
                <span class="color comfortable"></span>
                <span class="text">Comfortable</span>
              </span>
              <span class="item">
                <span class="color hot"></span>
                <span class="text">Hot</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card card--room-line">
        <div class="card-header">
          <div class="title-wrapper">
            <h4 class="title">Humidity Chart</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas id="humidityChart"></canvas>
            <div class="legends">
              <span class="item">
                <span class="color hot"></span>
                <span class="text">Dry</span>
              </span>
              <span class="item">
                <span class="color comfortable"></span>
                <span class="text">Comfortable</span>
              </span>
              <span class="item">
                <span class="color cold"></span>
                <span class="text">Damp</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<!-- Modal -->
{% endblock %}