<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% import 'macros/nav-macro.html' as nav %} {{nav.active('')}}
</header>
<main class="auth">
  <section class="auth__section">
    <div class="container">
      <div class="auth__row row">
        <div class="auth__col auth__col--content col-sm-12 col-md-12 col-lg-12 col-xl-7">
          <div class="auth__content">
            <div class="auth__content-wrapper">
              <h2 class="auth__sub-title">Naumi Haramai Ki</h2>
              <h1 class="auth__title">MĀNAWA</h1>
            </div>
          </div>
        </div>
        <div class="auth__col auth__col--form col-sm-12 col-md-12 col-lg-12 col-xl-5">
          <div class="auth__form">
            <form class="form">
              <div class="form__container">
                <div class="form__description-box">
                  <p class="form__description">
                    Ka pai! We have sent an email to
                  </p>
                  <p class="form__description"><span class="form__description form__description--lg">example@gmail.com</span>
                  </p>
                  <p class="form__description mb-3">
                    Check your inbox to activate your account
                  </p>
                </div>
                <button class="button button--black">Resend Email</button>
              </div>
            </form>
            <div class="auth__helper">
              <i class="icon material-icons md-18 me-1">help</i>
              <p class="auth__text-helper">Didn't receive confirmation instructions? <a href="#"
                  class="auth__link">Click
                  Here</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}