<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp webapp--room-page">
  {% include "partials/webapp/aside.html" %}
  <section class="section">
    <div class="container-fluid">      
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="header-navigation">
              <a href="list-of-whare.html" class="button button--grey-outline">
                <i class="fas fa-arrow-left"></i>
              </a>
              <h4 class="title">Sensor : AC243FA5A250</h4>
            </div> 
          </div>
          <div class="col-12">
            <div class="card card--room-details">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Dan's Study</h4>
                  <h6 class="subtitle">Adult's bedroom</h6>
                </div>
                <a href="edit-room.html" class="button button--sm button--grey">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="summary-content">                  
                  <div class="row mb-0">
                    <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-4 mb-sm-0">
                      <figure class="image-wrapper">
                        <img src="assets/img/comfortable.png" alt="" class="img img-fluid">
                      </figure>
                    </div>
                    <div class="col-12 col-sm-8 col-md-9 col-lg-8 col-xl-9">
                      <ul class="list-unstyled">
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Comfortable Temperature</span>
                        </li>
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Comfortable humidity</span>
                        </li>
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Acceptable dewpoint</span>
                        </li>
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Temp is well above dewpoint</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card--room-details">
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--comfortable">
                    <div class="d-flex align-items-center">
                      <i class="icon icon--temperature"></i>                    
                      <div class="text-wrapper">
                        <h6 class="title title--celcius">22.2°C</h6>
                        <p class="text">Temperature</p>
                        <p class="time-stamp">7 minutes ago</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card--room-details">
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--cold">
                    <div class="d-flex align-items-center">
                      <i class="icon icon--temperature"></i>                    
                      <div class="text-wrapper">
                        <h6 class="title title--celcius">22.2°C</h6>
                        <p class="text">Temperature</p>
                        <p class="time-stamp">7 minutes ago</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card card--room-details">
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--damp">
                    <div class="d-flex align-items-center">
                      <i class="icon icon--temperature"></i>                    
                      <div class="text-wrapper">
                        <h6 class="title title--celcius">22.2°C</h6>
                        <p class="text">Temperature</p>
                        <p class="time-stamp">7 minutes ago</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- IF Cold Condition with Impact and Next Steps -->
          <!-- IF Damp Condition with Impact and Next Steps -->
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Health impact</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="text-wrapper">
                 <div class="text">This can cause asthma, allergies and respiratory illness. </div>
               </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Enviro Impact</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="text-wrapper">
                 <div class="text">Mould growth and dustmites</div>
               </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Next steps</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="text-wrapper">
                 <div class="text">Open windows and doors for 2mins to remove damp air then heat the room</div>
               </div>
              </div>
            </div>
          </div>
          <!-- end condition -->

          <div class="chart-filter">
            <div class="left">

            <div class="sd-container input-group date datepicker">
              <input class="sd form-control" type="date" name="selected_date" />
              <span class="open-button">
                <button type="button icon">
                  <i class="fas fa-calendar-day"></i>
                </button>
              </span>
            </div>

              <!-- <div class="input-group date datepicker" id="datepicker">
                <input type="date" class="form-control" value="12-02-2021" />
                <span class="input-group-text">
                  <i class="fas fa-calendar-day"></i>
                </span>
            </div> -->

            <!-- <input id="datepicker" width="276" /> -->
            <!-- <div class="input-group date datepicker" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
              <input class="form-control" type="text" value="12-02-2012">
              <span class="add-on">
                <i class="fas fa-calendar-day"></i>
              </span>
            </div> -->
              <select class="form-select" aria-label="Select Time">
                <option selected>Select Time</option>
                <option value="1">00:00 - 05:00</option>
                <option value="2">06:00 - 11:00</option>
                <option value="3">12:00 - 17:00</option>
                <option value="3">18:00 - 23:00</option>
              </select>
            </div>
            <div class="right">
              <div class="dropdown">
                <button class="button button--white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-download"></i>
                  <span>Report</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Report by Filter</a></li>
                  <li><a class="dropdown-item" href="#">Today’s report</a></li>
                  <li><a class="dropdown-item" href="#">This week’s report</a></li>
                  <li><a class="dropdown-item" href="#">This month’s report</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Temperature Chart</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-wrapper">
                  <canvas id="tempChart"></canvas>
                  <div class="legends">
                    <span class="item">
                      <span class="color cold"></span>
                      <span class="text">Cold</span>
                    </span>
                    <span class="item">
                      <span class="color comfortable"></span>
                      <span class="text">Comfortable</span>
                    </span>
                    <span class="item">
                      <span class="color hot"></span>
                      <span class="text">Hot</span>
                    </span>
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Humidity Chart</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-wrapper">
                  <canvas id="humidityChart"></canvas>
                  <div class="legends">
                    <span class="item">
                      <span class="color hot"></span>
                      <span class="text">Dry</span>
                    </span>
                    <span class="item">
                      <span class="color comfortable"></span>
                      <span class="text">Comfortable</span>
                    </span>
                    <span class="item">
                      <span class="color cold"></span>
                      <span class="text">Damp</span>
                    </span>
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Sensor Description</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="sensor-wrapper">
                 <div class="row">
                   <div class="col-sm-3">
                     <div class="item">
                       <h3 class="label">FIRST DETECTED</h3>
                       <h4 class="text">2021-05-29</h4>
                     </div>
                   </div>
                   <div class="col-sm-3">
                    <div class="item">
                      <h3 class="label">LAST READING</h3>
                      <h4 class="text">5 minutes ago</h4>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="item">
                      <h3 class="label">BATTERY LEVEL</h3>
                      <h4 class="text">100%</h4>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="item">
                      <h3 class="label">SOFTWARE</h3>
                      <h4 class="text">Unkknown</h4>
                    </div>
                  </div>
                 </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->
{% endblock %}