<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp webapp--room-page">
  {% include "partials/webapp/aside.html" %}
  <section class="section">
    <div class="container-fluid">      
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="header-navigation">
              <a href="list-of-whare.html" class="button button--grey-outline">
                <i class="fas fa-arrow-left"></i>
              </a>
              <h4 class="title">Sensor : AC243FA5A250</h4>
            </div> 
          </div>
          <div class="col-12">
            <div class="card card--room-details">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Dan's Study</h4>
                  <h6 class="subtitle">Adult's bedroom</h6>
                </div>
                <a href="edit-room.html" class="button button--sm button--grey">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="summary-content">                  
                  <div class="row">
                    <div class="col-sm-4">
                      <figure class="image-wrapper">
                        <img src="assets/img/comfortable.png" alt="" class="img img-fluid">
                      </figure>
                    </div>
                    <div class="col-sm-8">
                      <ul class="list-unstyled">
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Comfortable Temperature</span>
                        </li>
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Comfortable humidity</span>
                        </li>
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Acceptable dewpoint</span>
                        </li>
                        <li class="list-item">
                          <i class="fas fa-check-circle"></i>
                          <span class="text">Temp is well above dewpoint</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card--room-details">
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--comfortable">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Temperature</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card--room-details">
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--cold">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Temperature</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card--room-details">
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--damp">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Temperature</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- IF Cold Condition with Impact and Next Steps -->
          <!-- IF Damp Condition with Impact and Next Steps -->
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Health impact</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="text-wrapper">
                 <div class="text">This can cause asthma, allergies and respiratory illness. </div>
               </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Enviro Impact</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="text-wrapper">
                 <div class="text">Mould growth and dustmites</div>
               </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Next steps</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="text-wrapper">
                 <div class="text">Open windows and doors for 2mins to remove damp air then heat the room</div>
               </div>
              </div>
            </div>
          </div>
          <!-- end condition -->

          filter component

          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Temperature Chart</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-wrapper">
                  <canvas id="tempChart"></canvas>
                  <div class="legends">
                    <span class="item">
                      <span class="color cold"></span>
                      <span class="text">Cold</span>
                    </span>
                    <span class="item">
                      <span class="color comfortable"></span>
                      <span class="text">Comfortable</span>
                    </span>
                    <span class="item">
                      <span class="color hot"></span>
                      <span class="text">Hot</span>
                    </span>
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Humidity Chart</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-wrapper">
                  <canvas id="humidityChart"></canvas>
                  <div class="legends">
                    <span class="item">
                      <span class="color hot"></span>
                      <span class="text">Damp</span>
                    </span>
                    <span class="item">
                      <span class="color comfortable"></span>
                      <span class="text">Comfortable</span>
                    </span>
                    <span class="item">
                      <span class="color cold"></span>
                      <span class="text">Dry</span>
                    </span>
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card card--room-line">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Sensor Description</h4>
                </div>
              </div>
              <div class="card-body">
               <div class="text-wrapper">
                 <div class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, non? Sit eveniet inventore dignissimos eligendi amet voluptates maiores natus sed, commodi quibusdam iure eum perspiciatis nostrum repellendus accusantium recusandae blanditiis!</div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->
{% endblock %}