<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp webapp--room-page">
  {% include "partials/webapp/aside.html" %}
  <section class="section">
    <div class="container-fluid">      
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="header-navigation">
              <a href="list-of-whare.html" class="button button--grey-outline">
                <i class="fas fa-arrow-left"></i>
              </a>
              <h4 class="title">Back to Whare List </h4>
            </div> 
          </div>
          <div class="col-md-6">
            <div class="card card--room">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Dan's Study</h4>
                  <h6 class="subtitle">Adult's bedroom</h6>
                </div>
                <a href="#" class="button button--sm button--grey">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="card-content">                  
                  <figure class="image-wrapper">
                    <img src="assets/img/comfortable.png" alt="" class="img img-fluid">
                  </figure>
                  <h2 class="title">Comfortable room</h2>
                </div>
              </div>
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--comfortable">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Temperature</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                  <div class="temperature-column humidity--comfortable">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Humidity</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                </div>
                <a href="#" class="button button--black button--analys">
                  Analys
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card--room">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Dan's Study</h4>
                  <h6 class="subtitle">Adult's bedroom</h6>
                </div>
                <a href="#" class="button button--sm button--grey">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="card-content">                  
                  <figure class="image-wrapper">
                    <img src="assets/img/comfortable.png" alt="" class="img img-fluid">
                  </figure>
                  <h2 class="title">Comfortable room</h2>
                </div>
              </div>
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--cold">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Temperature</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                  <div class="temperature-column humidity--damp">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Humidity</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                </div>
                <a href="#" class="button button--black button--analys">
                  Analys
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card--room">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Dan's Study</h4>
                  <h6 class="subtitle">Adult's bedroom</h6>
                </div>
                <a href="#" class="button button--sm button--grey">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="card-content">                  
                  <figure class="image-wrapper">
                    <img src="assets/img/comfortable.png" alt="" class="img img-fluid">
                  </figure>
                  <h2 class="title">Comfortable room</h2>
                </div>
              </div>
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--hot">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Temperature</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                  <div class="temperature-column humidity--dry">
                    <i class="icon icon--temperature"></i>
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Humidity</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                </div>
                <a href="#" class="button button--black button--analys">
                  Analys
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card--room">
              <div class="card-header">
                <div class="title-wrapper">
                  <h4 class="title">Dan's Study</h4>
                  <h6 class="subtitle">Adult's bedroom</h6>
                </div>
                <a href="#" class="button button--sm button--grey">
                  <i class="fas fa-pencil-alt"></i>
                </a>
              </div>
              <div class="card-body">
                <div class="card-content">                  
                  <figure class="image-wrapper">
                    <img src="assets/img/comfortable.png" alt="" class="img img-fluid">
                  </figure>
                  <h2 class="title">Comfortable room</h2>
                </div>
              </div>
              <div class="card-footer">
                <div class="temperature-section">
                  <div class="temperature-column temperature--offline">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Temperature</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                  <div class="temperature-column humidity--offline">
                    <i class="icon icon--temperature"></i>                    
                    <div class="text-wrapper">
                      <h6 class="title title--celcius">22.2°C</h6>
                      <p class="text">Humidity</p>
                      <p class="time-stamp">7 minutes ago</p>
                    </div>
                  </div>
                </div>
                <a href="#" class="button button--black button--analys">
                  Analys
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->
{% endblock %}