<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% import 'macros/nav-macro.html' as nav %} {{nav.active('')}}
</header>
<main class="step-form">
  <section class="step-form__section">
    <div class="container">
      <div class="step-form__row row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-8">
          <div class="step-form__content">
            <div class="step-form__content-wrapper">
              <i class="icon icon--checked-circle material-icons">check_circle</i>
              <h4 class="step-form__description">Ngā mihi maioha, thank you for helping us, tautoko you and your whānau towards a healthier home</h4>
              <div class="step-form__button-container">
                <button class="button button--black">Kia ora</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}