<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<main class="step-guide">
  <section class="step-guide__section step-guide__section--final">
    <div class="container-fluid">
      <div class="step-guide__row row justify-content-center">
        <div class="step-guide__col col-sm-12 col-md-12 col-lg-12 col-xl-8 justify-content-center p-0">
          <div class="step-guide__form">
            <div class="form step-app">
              <div class="form__container step-content">
                <div class="form__tab">
                  <div class="form__step-content">
                    <div class="form__field">                      
                      <figure class="step-guide__image-wrapper">
                        <img src="assets/img/success_icon.svg" alt="" class="step-guide__image">
                      </figure>
                      <h4 class="step-guide__title">We have successfully received your data</h4>
                      <p class="step-guide__description">Thank you for registering, we are preparing your Mānawa sensor kit. When your kit is prepared, we will courier your kit to the address entered in you registration, and send you a notification email.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}