<!-- index.html -->
{% extends "layout.html" %}

{% block content %}

<header>
  {% include "partials/webapp/nav.html" %}  
</header>
<main class="webapp webapp--room-page">
  {% include "partials/webapp/aside.html" %}
  <section class="section section--tutor">
    <div class="container-fluid">      
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="header-navigation">
              <a href="list-of-whare.html" class="button button--grey-outline">
                <i class="fas fa-arrow-left"></i>
              </a>
              <h4 class="title">Tutorial Add to Home Screen on IOS </h4>
            </div> 
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
            <div class="card card--tutor">
              <div class="card-body">
                <h4 class="title">Step 1</h4>
                <p class="text">Open safari browser on your mobile phone and access <a href="#" class="link">“manawa.nz”</a></p>
                <figure class="image-wrapper">
                  <img src="assets/img/tutor-one.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
            <div class="card card--tutor">
              <div class="card-body">
                <h4 class="title">Step 2</h4>
                <p class="text">Press share button at the bottom of safari browser</p>
                <figure class="image-wrapper">
                  <img src="assets/img/tutor-two.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
            <div class="card card--tutor">
              <div class="card-body">
                <h4 class="title">Step 3</h4>
                <p class="text">Press Add to Home Screen </p>
                <figure class="image-wrapper">
                  <img src="assets/img/tutor-three.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
            <div class="card card--tutor">
              <div class="card-body">
                <h4 class="title">Step 4</h4>
                <p class="text">Press Add, to be added to the main screen</p>
                <figure class="image-wrapper">
                  <img src="assets/img/tutor-four.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card card--tutor">
              <div class="card-body">
                <h4 class="title">Step 5</h4>
                <p class="text">Check on you main screen, favorite sites have been added to the main screen</p>
                <figure class="image-wrapper">
                  <img src="assets/img/tutor-five.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Modal -->
{% endblock %}