// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// Responsive typography map
// null: iphone5
// small: ipad
// large: desktop
$typi: (
	base: (
		null: (12px, 1.4), 
		small: 14px, 
		large: 16px 
	),
	// h1: (
  //   null: (ms(4), vr(2.5)),
  //   small: (ms(4), vr(2.5)),
  //   large: (ms(4), vr(2.5))
	// )
);

$ms-base: 1em;
$ms-ratio: 1.618;


// backgrounds
$bg-white: #FFFFFF;
$bg-black: #000000;
$bg-gray: #D0D0D0;
$bg-cream-white: #ececec;
$bg-yellow: #fdff8c;

// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-secondary-black: #333333;
$color-green: #abcc75;
$color-yellow: #FDFF8C;
$color-dark-grey: #909090;
$color-grey: #4b4b4b;
$color-red: #FF0000;
$color-lite-grey: #595959;

// font families
// $font-lato: 'Lato', Arial, Verdana, sans-serif;
// $font-raleway: 'Raleway', Arial, Verdana, sans-serif;

// sizing
$base-font-size: 16px;
$grid-gutter-width: 1.5rem;
$grid-columns: 12;






