// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Auth page.
// -----------------------------------------------------------------------------
.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: $color-green;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    @include for-size(tablet) {
      font-size: 65px;
      line-height: 76px;
    }
    @include for-size(desktop) {
      text-align: left;
      font-size: 75px;
      line-height: 88px;
    }    
  }
  &__sub-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    @include for-size(tablet) {
      font-size: 24px;
      line-height: 47px;
    }
    @include for-size(desktop) {
      text-align: left;
      font-size: 27px;
      line-height: 59px;
    }    
  }
  &__section {
    height: 100%;
    .container {
      height: 100%;
    }
    .row {
      height: auto;
      @include for-size(tablet) {
        height: 100%;
      }
      @include for-size(desktop) {
        height: 100%;
      }      
    }
    .button {
      width: 100%;
      margin: 0 0 16px 0;
    }
    .form {
      margin: 0 0 36px 0;
      width: 100%;
      @include for-size(tablet) {
        width: 50%;
      }
      @include for-size(desktop) {
        width: 100%;
      }      
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    &--content {
      width: 100%;
      @include for-size(tablet) {
        width: 100%;
      }
      @include for-size(tablet-landscape) {
        width: 50%;
      }
      @include for-size(desktop) {
        width: 66.66667%;
      }      
    }
    &--form {
      width: 100%;
      @include for-size(tablet) {
        width: 100%;
      }
      @include for-size(tablet-landscape) {
        width: 50%;
      }
      @include for-size(desktop) {        
        width: 33.33333%;
      }      
    }
  }
  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include for-size(tablet) {
      height: auto;
    }
    @include for-size(desktop) {
      height: 100%;
    }    
  }
  &__content {    
    display: flex;
    align-items: center;
    margin: 23px auto 30px;
    height: auto;
    @include for-size(tablet) {
      margin: 0 auto;
      height: 100%;
    }
    @include for-size(desktop) {
      margin: 0 auto;
      height: 100%;
    }    
  }
  &__content-wrapper { 
    width: 100%;
   }
  &__helper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 25px 0;
    @include for-size(tablet) {
      margin: 0;
    }
    @include for-size(desktop) {
      margin: 0;
    }    
  }
  &__text-helper {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-black;
    margin: 0;
  }  
  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $color-green;
    text-decoration: none;
    &:hover {
      color: $color-green;
    }
  }
}
