// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Auth page.
// -----------------------------------------------------------------------------
.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: $color-green;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    @include for-size(tablet) {
      font-size: 65px;
      line-height: 76px;
    }
    @include for-size(desktop) {
      text-align: left;
      font-size: 75px;
      line-height: 88px;
    }
    @include for-size(ipad-pro) {
      font-size: 65px;
      line-height: 76px;
      text-align: center;
    }
  }
  &__sub-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    @include for-size(tablet) {
      font-size: 40px;
      line-height: 47px;
    }
    @include for-size(desktop) {
      text-align: left;
      font-size: 50px;
      line-height: 59px;
    }
    @include for-size(ipad-pro) {
      font-size: 40px;
      line-height: 47px;
      text-align: center;
    }
  }
  &__section {
    height: 100%;
    .container {
      height: 100%;
    }
    .row {
      height: auto;
      @include for-size(tablet) {
        height: 100%;
      }
      @include for-size(desktop) {
        height: 100%;
      }
      @include for-size(ipad-pro) {
        height: 100%;
      }
    }
    .button {
      width: 100%;
      margin: 0 0 16px 0;
    }
    .form {
      margin: 0 0 36px 0;
      width: 100%;
      @include for-size(tablet) {
        width: 65%;
      }
      @include for-size(desktop) {
        width: 100%;
      }
      @include for-size(ipad-pro) {
        width: 100%;
      }
      @include for-size(ipad-pro-portrait) {
        width: 65%;
      }  
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include for-size(tablet) {
      height: auto;
    }
    @include for-size(desktop) {
      height: 100%;
    }
    @include for-size(ipad-pro) {
      height: 100%;
    }
    @include for-size(ipad-pro-portrait) {
      height: auto;
    }    
  }
  &__content {    
    display: flex;
    align-items: center;
    margin: 80px auto 50px;
    height: auto;
    @include for-size(tablet) {
      margin: 0 auto;
      height: 100%;
    }
    @include for-size(desktop) {
      margin: 0 auto;
      height: 100%;
    }
    @include for-size(ipad-pro) {
      margin: 0 auto;
      height: 100%;
    }
  }
  &__content-wrapper { 
    width: 100%;
   }
  &__helper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text-helper {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-black;
    margin: 0;
  }
  &__icon {
    display: flex;
    flex: 0 0 auto;
    &.icon--helper {
      background-image: url(../img/icon_helper.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      margin: 0 6px 0 0;
    }
  }
  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $color-green;
    text-decoration: none;
    &:hover {
      color: $color-green;
    }
  }
}
