// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Installation page.
// -----------------------------------------------------------------------------
.installation-guide {
  height: 100%;
  &__section {
    height: 100%;
    .container-fluid {
      height: 100%;
      margin: 0;
      .row {
        height: 100%;
        margin-bottom: 0;
        .step-app {
          @include for-size(desktop) {
            padding: 0;
          }
        }
      }
    }
  }
  .alert {
    display: flex;
    align-items: center;
    margin-top: 30px;
    .icon {
      font-size: 28px;
      margin-right: 15px;
    }
    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140.62%;
      margin: 0;
    }
  }
  .check-wrapper {
    .form-control--check {
      display: none;
      &:checked {
        ~ .custom-check {
          border: 1px solid $color-blue;
          .icon--check {
            border: 6px solid $color-blue;
          }
          .text {
            color: $color-blue;
          }
        }
      }
    }
    .custom-check {
      border: 1px solid $color-black;
      padding: 15px 10px;
      display: flex;
      align-items: center;
      .icon--check {
        display: flex;
        flex: 0 0 auto;
        width: 25px;
        height: 25px;
        border: 1px solid $color-black;
        border-radius: 50%;
        margin-right: 10px;
      }
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140.62%;
        margin: 0;
        color: $color-black;
      }
    }
  }
  .sidebar {
    @include fixed(top 0 bottom 0 left 0 right 0);
    transform: translateX(-100%);
    background-color: $color-blue;
    z-index: 3;
    padding: 59px 29px;
    transition: transform 200ms ease-in-out;
    width: 100%;
    overflow: auto;
    @include for-size(tablet) {
      width: 40%;
      padding: 59px 33px;
    }
    @include for-size(desktop) {
      width: 25%;
      transform: translateX(0%);
      padding: 30px;
    }
    &.show--nav {
      transform: translateX(0%);
      transition: transform 200ms ease-in-out;
      ~ .backdrop {
        @include fixed(top 0 left 0 right 0 bottom 0);
        background: $bg-black;
        opacity: 75%;
        z-index: 2;
        pointer-events: none;
      }
    }
    &__title {
      color: $white;
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 32px 0;
    }
    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &__item {
      margin-bottom: 35px;
      @include for-size(tablet) {
        margin-bottom: 32px;
      }
      @include for-size(desktop) {
        margin-bottom: 42px;
      }
      &.active {
        .sidebar__link {
          color: $color-yellow;
        }
      }
    }
    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;
      .icon.icon--list {
        font-size: 16px;
        margin-right: 15px;
      }
    }
    &__item-name {
      font-family: Roboto;
      font-weight: bold;
      font-size: 16px;
      line-height: 23px;
      margin: 0;
    }
    .icon.icon--close {
      cursor: pointer;
      @include absolute(top 20px right 18px);
      font-size: 24px;
      color: $white;
      display: block;
      @include for-size(desktop) {
        display: none;
      }
    }
  }
  .slide-content {
    padding: 0 3px;
    border: none;
    max-width: 100%;
    width: 100%;
    position: relative;
    @include for-size(tablet) {
      padding: 0 27px;
    }
    @include for-size(desktop) {
      padding: 0 30px;
      max-width: 75%;
    }
    &__title {
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 25px 0;
      @include for-size(tablet) {
        font-size: 24px;
        line-height: 34px;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
      .icon.icon--list-content {
        margin-right: 15px;
        font-size: 16px;
        color: $color-green;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 30px;
      @include for-size(tablet) {
        font-size: 16px;
        line-height: 30px;
      }
      @include for-size(desktop) {
        font-size: 16px;
        line-height: 32px;
      }
      .bold {
        font-weight: bold;
      }
    }
    &__card {
      background-color: transparent;
      padding: 0 0 96px 0;
      border-radius: 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
      @include for-size(tablet) {
        padding: 0;
      }
      @include for-size(desktop) {
        background-color: $bg-white;
        padding: 0;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      }
    }
    &__inner-wrapper {
      padding: 0;
      @include for-size(tablet) {
        padding: 0;
      }
      @include for-size(desktop) {
        padding: 25px;
      }
      .button {
        width: 100%;
        background-color: transparent;
        @include for-size(tablet) {
          width: max-content;
        }
        @include for-size(desktop) {
          width: max-content;
        }
      }
    }
    &__image-wrapper {
      max-width: 260px;
      width: 100%;
      margin: 0 auto;
      @include for-size(tablet) {
        max-width: 314px;
      }
      @include for-size(desktop) {
        max-width: 309px;
      }
      @include for-size(tablet) {
        max-width: 314px;
      }
    }
    &__image {
      margin: 48px 0 38px;
      @include for-size(tablet) {
        margin: 67px 0 65px;
      }
      @include for-size(desktop) {
        margin: 45px 0 44px;
      }
      &--has-border {
        border: 15px solid #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    &__panel {
      padding-bottom: 110px;
      &.active[data-step="step1"] ~ .navigation.step-footer .button--back {
        display: flex !important;
        pointer-events: none;
        opacity: 0.5;
      }
      .content-header {
        margin-top: 30px;
        .text {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 140.62%;
          margin-bottom: 15px;
        }
        .title {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 140.62%;
          margin: 0;
        }
      }
      .form-group {
        margin-top: 40px;
        &--sm {
          width: 33%;
          .list {
            padding: 0 0 0 18px;
            margin: 0;
            &__item {
              position: relative;
              padding-right: 22px;
              margin: 0 0 30px;
              &:last-child {
                margin: 0;
              }
              .icon {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                color: #dc3545;
              }
            }
          }
        }
        &--md {
          width: 66%;
        }
        &--md-l {
          width: 75%;
        }
        &--invite {
          width: 45%;
          .button--black-outline {
            min-width: 100px;
          }
        }
        &--organize {
          width: 45%;
          .form-field {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 60px !important;
            &:last-child {
              margin-bottom: 0 !important;
            }
            .form-label {
              flex: 0 0 auto;
              margin-bottom: 0 !important;
            }
            .input-wrapper {
              flex: 1 1 auto;
              max-width: 50%;
              .form-select {
                width: 100%;
              }
            }
          }
        }
        .form-field {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          &--inline {
            display: flex;
            .check-wrapper {
              display: flex;
              flex: 1 1 auto;
              &:last-child {
                .custom-check {
                  margin-right: 0;
                }
              }
              .custom-check {
                width: 100%;
                margin-right: 30px;
              }
            }
            .form-label {
              display: flex;
              align-items: center;
              font-weight: bold !important;
              font-size: 24px !important;
              line-height: 140.62% !important;
              color: $color-black;
              .form-control {
                max-width: 70px;
                margin: 0 10px;
              }
            }
          }
          &--has-button {
            .input-wrapper {
              display: flex;
              .form-control {
                flex: 1 1 auto;
              }
              .button {
                flex: 0 0 auto;
                margin-left: 30px;
                min-width: 100px;
              }
            }
          }
          .form-label {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140.62%;
            margin-bottom: 15px;
          }
          .form-control, .form-select {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140.62%;
            margin: 0;
            color: $color-black;
            border: 1px solid #ced4da;
            box-sizing: border-box;
            border-radius: 4px;
            &::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: #e0e0e0;
            }
            &::-moz-placeholder {
              /* Firefox 19+ */
              color: #e0e0e0;
            }
            &:-ms-input-placeholder {
              /* IE 10+ */
              color: #e0e0e0;
            }
            &:-moz-placeholder {
              /* Firefox 18- */
              color: #e0e0e0;
            }
          }
        }
      }
      .card-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
        padding-top: 30px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          border-top: 1px solid #e0e0e0;
        }
        .card {
          width: calc(33% - 15px);
          padding: 15px;
          background: $color-white;
          border: 1px solid #e0e0e0;
          box-sizing: border-box;
          border-radius: 6px;
          margin: 0 0 15px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .card-info {
            flex: 1 1 auto;
            padding-right: 10px;
          }
          .card-action {
            flex: 0 0 auto;
            .icon {
              color: #dc3545;
              cursor: pointer;
            }
          }
          .card-field {
            display: flex;
            align-items: center;
            margin-bottom: 13px;
            &:first-child {
              margin-bottom: 17px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            .title {
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 140.62%;
            }
            .icon {
              color: #a3a3a3;
              margin-right: 11px;
            }
            .text {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 140.62%;
              margin: 0;
            }
          }
        }
      }
      .confirmation {
        margin-top: 30px;
        &__field {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &__sub-list {
      list-style-type: disc;
      margin-left: 26px;
      display: list-item;
    }
    &__sub-item {
      margin-bottom: 8px;
    }
  }
  .navigation {
    @include fixed(bottom 0 right 0);
    left: auto;
    display: flex;
    z-index: 1;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    width: 75%;
    @include for-size(desktop) {
      margin: 0;
    }
    &__title {
      color: $black;
      font-family: Roboto;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      display: block;
      @include for-size(desktop) {
        display: none;
      }
    }
    &__toggle {
      padding: 30px 27px;
      background-color: $color-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      @include for-size(desktop) {
        display: none;
      }
      .icon.icon--nav {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        color: $color-white;
      }
    }
    &__bar {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      @include for-size(desktop) {
        padding: 21px 30px;
      }
    }
    &__button-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: max-content;
      @include for-size(desktop) {
        width: 100%;
      }
      .button {
        padding: 0;
        border: 1px solid $color-black;
        background-color: $color-black;
        width: 36px;
        height: 36px;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include for-size(desktop) {
          width: 210px;
          height: auto;
          border-radius: 4px;
          padding: 10px 0;
        }
        .icon.icon--nav {
          font-size: 20px;
          color: $color-white;
          display: block;
          @include for-size(desktop) {
            display: none;
          }
        }
        .text {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 140.62%;
          margin: 0;
          display: none;
          @include for-size(desktop) {
            display: block;
          }
        }
        &.button--back {
          background-color: $color-white;
          opacity: 1;
          .icon.icon--nav {
            color: $color-black;
          }
          .text {
            color: $color-black;
          }
        }
        &:focus {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }
    }
  }
  .col-installation {
    display: flex;
    justify-content: center;
    @include for-size(desktop) {
      justify-content: flex-end;
    }
  }
}
