// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Installation page.
// -----------------------------------------------------------------------------
.installation-guide {
  height: 100%;
  background: linear-gradient(180deg, #fdff8c 0%, rgba(253, 255, 140, 0.6) 0.01%, #ffffff 73.44%);
  .sidebar {
    @include fixed(top 0 bottom 0 left 0 right 0);
    transform: translateX(-100%);
    background-color: $color-green;
    z-index: 3;
    padding: 59px 29px;
    transition: transform 200ms ease-in-out;
    width: 100%;
    overflow: auto;
    @include for-size(tablet) {
      width: 40%;
      padding: 59px 33px;
    }
    @include for-size(desktop) {
      width: 25%;
      transform: translateX(0%);
      padding: 33px 32px;
    }
    @include for-size(ipad-pro) {
      width: 32%;
      transform: translateX(-100%);
      padding: 59px 33px;
    }
    &.show--nav {
      transform: translateX(0%);
      transition: transform 200ms ease-in-out;
      ~ .backdrop {
        @include fixed(top 0 left 0 right 0 bottom 0);
        background: $bg-black;
        opacity: 75%;
        z-index: 2;
        pointer-events: none;
      }
    }
    &__title {
      color: $white;
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 32px 0;
    }
    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &__item {
      margin-bottom: 35px;
      @include for-size(tablet) {
        margin-bottom: 32px;
      }
      @include for-size(desktop) {
        margin-bottom: 42px;
      }
      @include for-size(ipad-pro) {
        margin-bottom: 32px;
      }
      &.active {
        .sidebar__link {
          color: $color-yellow;
        }
      }
    }
    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;
      .icon.icon--list {
        font-size: 16px;
        margin-right: 15px;
      }
    }
    &__item-name {
      font-family: Roboto;
      font-weight: bold;
      font-size: 16px;
      line-height: 23px;
      margin: 0;
    }
    .icon.icon--close {
      cursor: pointer;
      @include absolute(top 20px right 18px);
      font-size: 24px;
      color: $white;
      display: block;
      @include for-size(desktop) {
        display: none;
      }
      @include for-size(ipad-pro) {
        display: block;
      }
    }
  }
  .slide-content {
    padding: 0 3px;
    border: none;
    max-width: 100%;
    width: 100%;
    @include for-size(tablet) {
      padding: 0 27px;
    }
    @include for-size(desktop) {
      padding: 0 23px;
      max-width: 75%;
    }
    @include for-size(ipad-pro) {
      padding: 0 27px;
      max-width: 100%;
    }
    &__title {
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 25px 0;
      @include for-size(tablet) {
        font-size: 24px;
        line-height: 34px;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
      .icon.icon--list-content {
        margin-right: 15px;
        font-size: 16px;
        color: $color-green;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 30px;
      @include for-size(tablet) {
        font-size: 16px;
        line-height: 30px;
      }
      @include for-size(desktop) {
        font-size: 16px;
        line-height: 32px;
      }
      @include for-size(ipad-pro) {
        font-size: 16px;
        line-height: 30px;
      }
      .bold {
        font-weight: bold;
      }
    }
    &__card {
      background-color: transparent;
      padding: 0 0 96px 0;
      border-radius: 0px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
      @include for-size(tablet) {
        padding: 0;
      }
      @include for-size(desktop) {
        background-color: $bg-white;
        padding: 0;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      }
      @include for-size(ipad-pro) {
        background-color: transparent;
        padding: 0;
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
      }
    }
    &__inner-wrapper {
      padding: 0;
      @include for-size(tablet) {
        padding: 0;
      }
      @include for-size(desktop) {
        padding: 25px;
      }
      @include for-size(ipad-pro) {
        padding: 0;
      }
      .button {
        width: 100%;
        background-color: transparent;
        @include for-size(tablet) {
          width: max-content;
        }
        @include for-size(desktop) {
          width: max-content;
        }
        @include for-size(ipad-pro) {
          width: max-content;
        }
      }      
    }
    &__image-wrapper {
      max-width: 260px;
      width: 100%;
      margin: 0 auto;
      @include for-size(tablet) {
        max-width: 314px;
      }
      @include for-size(desktop) {
        max-width: 309px;
      }
      @include for-size(tablet) {
        max-width: 314px;
      }
    }
    &__image {
      margin: 48px 0 38px;
      @include for-size(tablet) {
        margin: 67px 0 65px;
      }
      @include for-size(desktop) {
        margin: 45px 0 44px;
      }
      @include for-size(ipad-pro) {
        margin: 67px 0 65px;
      }
      &--has-border {
        border: 15px solid #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    &__panel {
      &.active[data-step="step1"] ~ .navigation.step-footer .button--back {
        display: flex !important;
        pointer-events: none;
        opacity: 0.5;
      }
    }
    &__sub-list {
      list-style-type: disc;
      margin-left: 26px;
      display: list-item;
    }
    &__sub-item {
      margin-bottom: 8px;
    }
  }
  .navigation {
    @include fixed(bottom 0 left 0 right 0);
    display: flex;
    z-index: 1;
    background-color: #f5f6f8;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    @include for-size(desktop) {
      position: relative;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }
    @include for-size(ipad-pro) {
      position: fixed;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    }
    &__title {
      color: $black;
      font-family: Roboto;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    &__toggle {
      padding: 30px 27px;
      background-color: $color-green;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      @include for-size(desktop) {
        display: none;
      }
      @include for-size(ipad-pro) {
        display: flex;
      }
      .icon.icon--nav {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        color: $color-white;
      }
    }
    &__bar {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px 20px;
      @include for-size(desktop) {
        padding: 22px 20px;
      }
      padding: 18px 20px;
      @include for-size(ipad-pro) {
        padding: 18px 20px;
      }
    }
    &__button-wrapper {
      display: flex;
      align-items: center;
      .button {
        padding: 0;
        border: 1px solid $color-black;
        background-color: $color-black;
        width: 36px;
        height: 36px;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include for-size(desktop) {
          width: 42px;
          height: 42px;
        }
        @include for-size(ipad-pro) {
          width: 36px;
          height: 36px;
        }
        .icon.icon--nav {
          font-size: 20px;
          color: $color-white;
        }
        &.button--back {
          background-color: $color-white;
          opacity: 1;
          .icon.icon--nav {
            color: $color-black;
          }
        }
        &:focus {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }
    }
  }
  .col-installation {
    display: flex;
    justify-content: center;
    @include for-size(desktop) {
      justify-content: flex-end;
    }
    @include for-size(ipad-pro) {
      justify-content: center;
    }
  }
}
