.report-view {
  .bb-none {
    border: none !important;
  }

  .bb-dash {
    border-bottom: 3px dashed #e0e0e0;
  }

  .header-logo {
    text-align: center;
    padding: 30px;
    background-color: #f9f9f9;

    @media print {
      background-color: #f9f9f9 !important;
      -webkit-print-color-adjust: exact;
    }

    .logo-wrapper {
      height: 50px;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .title-report {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #333;
    margin: 30px 0;
    text-align: center;
  }

  .title-wrapper {
    .title {
      font-size: 26px !important;
    }
  }

  .item {
    .label {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: $color-black;
    }

    .text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: $color-offline;
    }
  }

  // .chart-wrapper {
  //   canvas {
  //     height: 150px !important;
  //     width: 100% !important;

  //     @include for-size(desktop) {
  //       height: 200px !important;
  //       width: 100% !important;
  //     }
  //   }
  // }
}