.webapp {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section {
  .headline {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $color-white;
    @include for-size(tablet) {
      font-size: 32px;
      line-height: normal;
    }
    @include for-size(desktop) {
      font-size: 32px;
      line-height: normal;
    }
  }
  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    color: #029fe4;
  }
  .subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #000000;
  }
  .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $color-white;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    .card {
      min-height: 250px;
      .text {
        font-size: 14px;
        line-height: 24px;
        color: #777777;
      }
    }
    &--perks {
      .card--slider {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .card {
    border: none;
    box-sizing: border-box;
    width: 100%;
    &--slider {
      max-width: 100%;
      @include for-size(tablet) {
        max-width: 30%;
      }
      @include for-size(desktop) {
        max-width: 30%;
      }
      .img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .icon {
    display: flex;
    flex: 0 0 auto;
    &--scroll {
      background-image: url(/assets/img/scroll-icon.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 16px;
      width: 19px;
    }
  }
  &--hero {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: calc(100vh - 58px);
    .hero {
      background-image: url(/assets/img/hero-img.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: relative;
    }
    .content {
      background-color: $color-blue;
      padding: 40px 40px 70px;
      position: relative;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 100px solid $color-blue;
        border-right: calc(100vw - 18px) solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateY(-99%);
      }
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 90px solid $color-lite-blue;
        border-left: 60vw solid transparent;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-99%);
        z-index: 0;
      }
    }
  }
  &--who-we-are {
    padding: 48px 0 69px;
    .slider-wrapper {
      .slider-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include for-size(tablet) {
          display: none;
        }
        @include for-size(desktop) {
          display: none;
        }
        .slider-nav__counter {
          font-weight: 500;
          font-size: 16px;
          line-height: 38px;
          color: #b6b6b6;
          .current-number {
            font-size: 24px;
            color: #303030;
          }
        }
        .slider-arrow {
          display: flex;
          align-items: center;
          .slider-arrow__item {
            width: 52px;
            height: 46px;
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #1ba0e1;
            .svg-arrow {
              width: 20px;
              height: 15px;
              fill: $color-white;
            }
            &.slick-disabled {
              background-color: #f1f1f1;
              .svg-arrow {
                fill: #b6b6b6;
              }
            }
          }
        }
      }
    }
  }
  &--our-values {
    background-color: #f8f8f8;
    padding: 58px 0 0;
    .title {
      margin-bottom: 24px;
    }
    .text {
      color: #777777;
    }
    .card {
      padding-left: 44px;
      .title {
        font-size: 24px;
        line-height: 38px;
        color: #000000;
        margin-bottom: 6px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          border-top: 2px solid #747474;
          width: 26px;
          top: 50%;
          left: -44px;
          transform: translateY(-50%);
        }
      }
    }
    .svg-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .img-svg {
        width: 50%;
      }
    }
  }
  &--the-perks {
    background-color: #509fdd;
    .inner-container {
      background-color: $color-white;
      margin: 35px 0 45px;
      padding: 35px;
      .text--perks {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #303030;
        width: 100%;
        margin: 0 auto 16px;
        text-align: center;
        @include for-size(tablet) {
          width: 50%;
        }
        @include for-size(desktop) {
          width: 50%;
        }
      }
      .slider-wrapper {
        .slider--perks {
          position: relative;
          &::before {
            content: "";
            width: 60px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
            background: -moz-linear-gradient(
              left,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
              left,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            position: absolute;
            top: 0;
            left: 0;
            height: 121px;
            z-index: 1;
          }
          &::after {
            content: "";
            width: 60px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
            background: -moz-linear-gradient(
              right,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
              right,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
              to left,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            position: absolute;
            top: 0;
            right: 0;
            height: 121px;
            z-index: 1;
          }
          @include for-size(tablet) {
            &::before {
              background: transparent;
            }
            &::after {
              background: transparent;
            }
          }
          @include for-size(desktop) {
            &::before {
              background: transparent;
            }
            &::after {
              background: transparent;
            }
          }
          .card--slider {
            .img-wrapper {
              width: 121px;
              height: 121px;
              margin: 0 auto 10px;
              .img-slider {
                width: 100%;
                height: 100%;
              }
            }
          }
          .slick-slide {
            .card--slider {
              .img-wrapper {
                transform: scale(0.7);
              }
              .subtitle {
                display: none;
              }
              .text-wrapper {
                display: none;
                position: relative;
                z-index: 1;
              }
            }
            &.slick-current {
              .card--slider {
                .img-wrapper {
                  transform: scale(1);
                  transition: transform 400ms ease-in-out;
                }
                .subtitle {
                  display: block;
                }
                .text-wrapper {
                  display: block;
                  margin: 0 -60px;
                }
              }
            }
          }
        }
        .slider-arrow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          pointer-events: none;
          @include for-size(tablet) {
            display: none;
          }
          @include for-size(desktop) {
            display: none;
          }
          .slider-arrow__item {
            pointer-events: auto;
            width: 20px;
            height: 15px;
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .svg-arrow {
              width: 100%;
              height: 100%;
              fill: #3d46a2;
            }
            &.slick-disabled {
              .svg-arrow {
                width: 100%;
                height: 100%;
                fill: #d2d2d2;
              }
            }
          }
        }
      }
    }
  }
}
.footer {
  background-color: #07477a;
  padding: 35px 0;
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 150px solid #08385f;
    border-right: calc(100vw - 18px) solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 125px solid #14619d;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .link {
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    color: $color-white;
  }
  .contact-box {
    background-color: $color-white;
    padding: 25px;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-select {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #00537c;
  }
  .input-wrapper {
    margin-bottom: 40px;
  }
  .address-box {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #25a0d8;
  }
}
