.section--add-whanau {
  .card {
    margin: 0 0px 30px;
    &.card--dashed {
      .card-body {
        .wrapper {
          padding: 25px 20px;
          flex-direction: row;
          align-items: center;
          .title {
            margin: 0;
          }
          .fas.fa-plus-circle {
            margin-right: 10px;
          }
        }
      }
    }
    &.card--whanau {
      .card-body {
        display: flex;
        justify-content: space-between;
        .text-wrapper {          
          display: flex;
          flex-direction: row;
          align-items: center;
          .text {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140.62%;
            word-break: break-word
          }
          .fas.fa-envelope {
            color: $color-secondary-grey;
            margin-right: 5px;
          }
        }
        .button.button--red {
          padding: 5px;
          border-radius: 4px;
        }
      }
    }
  }
}
