// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.sample-wraper {
  @include gradient( rgb(2, 32, 77), rgb(96, 171, 224), vertical);
  figure {
    @extend %img-wraper;
    @include responsive-ratio(16,9);
  }
  .sample-title{
    @include font-size-em(24px)
  }
  .sample-text{
    @include font-size-em(12px);
    // @include truncate-multi(100%, 3em);
  }
}