<aside class="aside">
  <div class="sidenav">
    <ul class="nav-menu">
      <li class="menu-list menu-list--room active">
        <a href="#" class="menu-title">
          <div class="wrapper">                        
            <span class="title title--house">Rudi’s House</span> 
          </div>
        </a>        
      </li>
      <li class="menu-list active">
        <a href="list-of-whare.html" class="menu-title">
          <div class="wrapper">
            <i class="icon ic-fo-ic-home-plus"></i>            
            <span class="title">Home</span> 
          </div>
        </a>        
      </li>
      <li class="menu-list menu-list--whare">
        <div class="menu-title collapsed" data-bs-toggle="collapse" data-bs-target="#whareContent" aria-expanded="false" aria-controls="whareContent">        
          <div class="wrapper">
            <i class="icon fas fa-home"></i>
            <span class="title">Whare</span> 
          </div>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse" id="whareContent">
          <ul class="menu-sublist">
            <li class="menu-sublist__item">
              <a href="#" class="link">Rudi's House</a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">10 Silverstream Road</a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">Garys Home</a>
            </li>
          </ul>          
        </div>
      </li>
      <li class="menu-list menu-list--room">
        <div class="menu-title collapsed" data-bs-toggle="collapse" data-bs-target="#whareContent" aria-expanded="false" aria-controls="whareContent">
          <div class="wrapper">
            <i class="icon ic-fo-ic-rooms-1"></i>
            <span class="title">Rooms</span> 
          </div>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse" id="whareContent">
          <ul class="menu-sublist">
            <li class="menu-sublist__item">
              <a href="#" class="link">Dan’s Study</a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">Living Room</a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">Bedroom - 2</a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">Study Room</a>
            </li>
          </ul>          
        </div>
      </li>
      <li class="menu-list menu-list--room">
        <a href="javascript:void(0)" class="menu-title">
          <div class="wrapper">
            <i class="icon ic-fo-asset-3"></i>
            <span class="title">Add Whānau</span> 
          </div>
        </a>        
      </li>
      <li class="menu-list menu-list--room">
        <a href="edit-whare.html" class="menu-title">
          <div class="wrapper">
            <i class="icon ic-fo-ic-edit-whare-1"></i>                        
            <span class="title">Edit Whare</span> 
          </div>
        </a>        
      </li>
    </ul>
    <ul class="nav-menu nav-menu--profile">
      <li class="menu-list">
        <div class="menu-title collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <div class="wrapper">
            <i class="icon icon--circle-green">
              R
            </i>
            <span class="title">RudiTabuti</span> 
          </div>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="collapse" id="collapseExample">
          <ul class="menu-sublist">
            <li class="menu-sublist__item menu-sublist__item--title">
             <h6 class="title">Account</h6>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">                
                <i class="icon ic-fo-ic-account-setting-1"></i>
                <h6 class="subtitle">Account Setting</h6>                
              </a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">
                <i class="icon icon ic-fo-ic-logout"></i>
                <h6 class="subtitle text--red">Logout</h6>                
              </a>
            </li>
            <li class="menu-sublist__item menu-sublist__item--title">
              <h6 class="title">Admin</h6>
             </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">                
                <i class="icon icon--circle-black fas fa-arrow-left"></i>
                <h6 class="subtitle">Admin Page</h6>                
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="backdrop"></div>
</aside>