<aside class="aside">
  <div class="sidenav">
    <ul class="nav-menu">
      <li class="menu-list">
        <div class="menu-title">
          <div class="wrapper">
            <i class="icon icon--home-plus"></i>
            <span class="title">Home</span> 
          </div>
        </div>
      </li>
      <li class="menu-list">
        <div class="menu-title">        
          <div class="wrapper">
            <i class="icon icon--home"></i>
            <span class="title">Whare</span> 
          </div>
          <i class="fas fa-chevron-down collapsed" data-bs-toggle="collapse" data-bs-target="#whareContent" aria-expanded="false" aria-controls="whareContent"></i>
        </div>
        <div class="collapse" id="whareContent">
          <ul class="menu-sublist">
            <li class="menu-sublist__item">
              <a href="#" class="link">Rudi's House</a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">10 Silverstream Road</a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">Garys Home</a>
            </li>
          </ul>          
        </div>
      </li>
    </ul>
    <ul class="nav-menu nav-menu--profile">    
      <li class="menu-list">
        <div class="menu-title">        
          <div class="wrapper">
            <i class="icon icon--circle-green">
              R
            </i>
            <span class="title">RudiTabuti</span> 
          </div>
          <i class="fas fa-chevron-down collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
        </div>
        <div class="collapse" id="collapseExample">
          <ul class="menu-sublist">
            <li class="menu-sublist__item menu-sublist__item--title">
             <h6 class="title">Account</h6>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">
                <i class="icon icon--account"></i>
                <h6 class="subtitle">Rudi's House</h6>                
              </a>
            </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">                
                <i class="icon icon--circle-red fas fa-sign-out-alt"></i>
                <h6 class="subtitle text--red">Logout</h6>                
              </a>
            </li>
            <li class="menu-sublist__item menu-sublist__item--title">
              <h6 class="title">Admin</h6>
             </li>
            <li class="menu-sublist__item">
              <a href="#" class="link">                
                <i class="icon icon--circle-black fas fa-arrow-left"></i>
                <h6 class="subtitle">Admin Page</h6>                
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="backdrop"></div>
</aside>