<nav class="navbar navbar-webapp fixed-top navbar-light bg-light">
  <div class="container-fluid navbar-header">
    <a class="navbar-brand" href="/">
      <img src="assets/img/logo.png" alt="" width="27" height="35">
      <h1 class="title">MANAWA</h1>
    </a>
    <div class="nav-action">
      <div class="menu-button">
        <span class="menu-text">MENU</span>
        <span class="hamburger"></span>
      </div>
    </div>
  </div>
  <ul class="nav-menu">
    <li class="menu-list">
      <div class="menu-title">
        <div class="wrapper">
          <i class="icon icon--home-plus"></i>
          <span class="title">Home</span> 
        </div>
      </div>
    </li>
    <li class="menu-list">
      <div class="menu-title">        
        <div class="wrapper">
          <i class="icon icon--home"></i>
          <span class="title">Whare</span> 
        </div>
        <i class="fas fa-chevron-down" data-bs-toggle="collapse" data-bs-target="#whareContent" aria-expanded="false" aria-controls="whareContent"></i>
      </div>
      <div class="collapse" id="whareContent">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </li>
  </ul>
  <ul class="nav-menu nav-menu--profile">    
    <li class="menu-list">
      <div class="menu-title">        
        <div class="wrapper">
          <i class="icon icon--circle-green">
            R
          </i>
          <span class="title">RudiTabuti</span> 
        </div>
        <i class="fas fa-chevron-down" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </li>
  </ul>
</nav>