// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  padding: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: $color-white;
  border-radius: 5px;
  &.button--black {
    background-color: $bg-black;
    border: 1px solid $bg-black;
  }
  &.button--white {
    background-color: $bg-white;
    border: 1px solid $bg-white;
    color: $color-black;
  }
  &.button--black-outline {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
  }
  &.button--transparent {
    background-color: transparent;
    color: #18a0fb;
    border: 0px solid transparent;
    padding: 0;
    font-weight: 400;
    margin-top: 10px;
    font-size: 12px;
    line-height: 24px;
    display: block;
    @include for-size(desktop) {
      display: none;
    }
  }
}
