// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  &--fab {
    height: 40px;
    width: 40px;
    background-color: $color-white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
  }
}
