// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  padding: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: $color-white;
  border-radius: 5px;
  &.button--black {
    background-color: $bg-black;
    border: 1px solid $bg-black;
  }
  &.button--white {
    background-color: $bg-white;
    border: 1px solid $bg-white;
    color: $color-black;
  }
  &.button--green {
    background-color: $color-green;
    color: $color-white;
    border: 1px solid $color-green;
  }
  &.button--black-outline {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
  }
}
