// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  padding: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: $color-white;
  border-radius: 5px;
  &.button--black {
    background-color: $bg-black;
    border: 1px solid $bg-black;
  }
  &.button--grey {
    background-color: $color-grey-button;
    border: 1px solid $color-grey-button;
    color: $color-secondary-grey;
  }
  &.button--soft-black {
    background-color: $color-secondary-black;
    border: 1px solid $color-secondary-black;
  }
  &.button--white {
    background-color: $bg-white;
    border: 1px solid $bg-white;
    color: $color-black;
  }
  &.button--green {
    background-color: $color-green;
    color: $color-white;
    border: 1px solid $color-green;
  }
  &.button--transparent {
    background-color: transparent;
    color: #18a0fb;
    border: 0px solid transparent;
    padding: 0;
    font-weight: 400;
    &:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }
  }
  &.button--black-outline {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
  }
  &.button--grey-outline {
    background-color: transparent;
    color: $color-secondary-grey;
    border: 1px solid #E0E0E0;
    border-radius: 4px; 
  }
  &.button--sm {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    font-weight: 900;
    font-size: 12.7393px;
    line-height: 22px;
  }
  &.button--fab {
    width: 56px;
    height: 56px;
    @include fixed(bottom 15px right 15px);
    border-radius: 50%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    @include for-size(tablet) {
      display: none;
    }
    @include for-size(desktop) {
      display: none;
    }
  }
}
