// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 12px;
  &.card--attention {
    background: $bg-yellow;
    width: 100%;
    border-color: $bg-yellow;
    border-radius: 0;
    border-bottom: 5px solid $color-green;
    display: flex;
    align-items: center;
    .icon {
      margin: 0 24px 0 0;
      font-size: 36px;
      opacity: 0.5;
    }
    .card__description {
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: $color-black;
    margin: 0;
  }
}
