.flash {
  @include absolute(top 0 left 0 right 0);
  width: 100%;
  background: $color-green;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  @include for-size(tablet) {
    display: none;
  }
  @include for-size(desktop) {
    display: none;
  }
  &__content {
    display: flex;
    align-items: center;
    .image-wrapper {
      margin: 0 10px 0 0;
      width: 25px;
      height: 32px;
    }
    .title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 140.62%;
      color: $color-white;
    }
  }
  .icon.icon--close-flash {
    color: $color-white;
    cursor: pointer;
  }
  &.close {
    display: none;
  }
}