// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------
.icon {
  display: flex;
  flex: 0 0 auto;
  &.icon--checked-circle {
    display: flex;
    justify-content: center;
    color: $color-green;
    font-size: 70px;
    margin: 0 0 17px;
  }
  &.icon--question {
    color: $color-dark-grey;
    display: none;
    @include for-size(desktop) {
      display: block;
    }    
  }
  &.ic-fo-ic-home-plus {
    font-size: 26px;
    color: $color-secondary-black;
    margin: 0 10px 0 0;
  }
  &.ic-fo-ic-account-setting-1 {
    font-size: 24px;
    color: $color-secondary-black;
    margin: 0 10px 0 0;
  }
  &.ic-fo-ic-logout {
    font-size: 24px;
    color: $color-soft-red;
    margin: 0 10px 0 0;
  }
  &.ic-fo-ic-rooms-1 {
    font-size: 24px;
    color: $color-secondary-black;
    margin: 0 10px 0 0;
  }
  &.ic-fo-asset-3 {
    font-size: 20px;
    color: $color-secondary-black;
    margin: 0 10px 0 0;
  }
  &.ic-fo-ic-edit-whare-1 {
    font-size: 24px;
    color: $color-secondary-black;
    margin: 0 10px 0 0;
  }
  &.fas.fa-home {
    font-size: 24px;
    color: $color-secondary-black;
    margin: 0 10px 0 0;
  }  
  &.icon--circle-green {
    margin: 0 10px 0 0;    
    width: 38px;
    height: 38px;
    background: rgba(171, 204, 117, 0.25);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140.62%;
  }
  &.icon--circle-green-sm {
    margin: 0 10px 0 0;    
    width: 20px;
    height: 20px;
    background: $color-green;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140.62%;
    color: $color-white;
  }  
  &.icon--circle-black {
    margin: 0 10px 0 0;    
    width: 24px;
    height: 24px;
    background: $color-secondary-black;
    color: $color-white;
    border-radius: 50%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
  }
  &.icon--circle-red {
    margin: 0 10px 0 0;    
    width: 24px;
    height: 24px;
    background: $color-soft-red;
    color: $color-white;
    border-radius: 50%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    &.fas {
      font-size: 12px;
    }
  }
}
