// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------
.icon {
  display: flex;
  flex: 0 0 auto;
  &.icon--check.material-icons {
    display: none;
    font-weight: bold;
    color: $color-green;
    font-size: 13px;
    @include absolute(top 50% left 50%);
    transform: translate3d(-50%, -50%, 0);
  }
}