// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------
.icon {
  display: flex;
  flex: 0 0 auto;
  &.icon--location {
    @include absolute(top 50% right 10px);
    transform: translate3d(0px, -50%, 0px);
    cursor: pointer;
  }
  &.icon--checked-circle {
    display: flex;
    justify-content: center;
    color: $color-green;
    font-size: 70px;
    margin: 0 0 17px;
  }
  &.icon--question {
    color: $color-dark-grey;
    display: none;
    @include for-size(desktop) {
      display: block;
    }
    @include for-size(ipad-pro) {
      display: none;
    }
  }
}
