.chart-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .left {
    display: flex;

    @include for-size(phone-xs) {
      flex-direction: column;
      margin-right: 20px;
      width: 100%;
    }

    &>* {
      margin-right: 10px;

      @include for-size(phone-xs) {
        margin-bottom: 5px;
      }
    }
  }

  .right {
    @include for-size(phone-xs) {
      width: 15vw;

      button {
        height: 78px;
        width: 100%;

        &::after {
          display: none;
        }

        span {
          display: none;
        }
      }
    }


    i {
      margin-right: 5px;

      @include for-size(phone-xs) {
        color: $color-secondary-grey;
      }
    }
  }
}

// .date {
//   input {
//     border-right: 0;
//   }

//   .icon {
//     background: #fff;

//     i {
//       color: $color-secondary-grey;
//     }
//   }
// }