// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.modal {
  &.modal--step-guide {
    bottom: 0;
    padding: 0;
    @include for-size(desktop) {
      bottom: auto;
    }
    .modal-content {
      border-radius: 10px;
    }
    .modal-cta {
      display: flex;
      justify-content: flex-end;
      @include absolute(top 3px left 0 right 3px);
      z-index: 1;
      .icon-close {        
        cursor: pointer;
      }
    }
    .modal-body {
      padding: 0;
      z-index: 0;
      @include for-size(tablet) {
        padding: 1.75rem 1rem 1rem;
      }
      @include for-size(desktop) {
        padding: 1.75rem 1rem 1rem;
      }
      @include for-size(ipad-pro) {
        padding: 1.75rem 1rem 1rem;
      }      
    }
    .modal-dialog.modal-dialog-centered {
      align-items: normal;
      height: 100%;
      margin: 0;
      max-width: 100%;
      @include for-size(tablet) {
        max-width: 500px;
        align-items: center;
        height: auto;
        margin: 1.75rem auto;
      }
      @include for-size(desktop) {
        max-width: 500px;
        align-items: center;
        height: auto;
        margin: 1.75rem auto;
      }
      @include for-size(ipad-pro) {
        max-width: 500px;
        align-items: center;
        height: auto;
        margin: 1.75rem auto;
      }
    }
    .modal-map {
      width: 100%;
      height: 100%;
      min-height: 100%;
      z-index: 0;
      @include for-size(tablet) {
        min-height: 450px;
      }
      @include for-size(desktop) {
        min-height: 450px;
      }
      @include for-size(ipad-pro) {
        min-height: 450px;
      }
    }
  }
}
