// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.modal {
  &.modal--step-guide {
    bottom: 0;
    padding: 0;
    @include for-size(desktop) {
      bottom: auto;
    }
    .modal-content {
      border-radius: 0;
    }
    .modal-cta {
      display: flex;
      justify-content: flex-end;
      @include absolute(top 3px left 0 right 3px);
      z-index: 1;
      .icon-close {        
        cursor: pointer;
      }
    }
    .modal-body {
      padding: 0;
      z-index: 0;
      position: relative;      
      @include for-size(desktop) {
        padding: 22px 22px 0;
      }
      @include for-size(ipad-pro) {
        padding: 0;
      }
      .form__field {
        @include absolute(top 55px left 0 right 0);
        width: 90%;
        margin: 0 auto;
        .form__input-wrapper--has-icon {
          .icon.icon--location {
            @include absolute(top 50% right 12px);
            transform: translateY(-50%);
          }
        }
      }
    }
    .modal-dialog.modal-dialog-centered {
      align-items: normal;
      height: 100%;
      margin: 0;
      max-width: 100%;      
      @include for-size(desktop) {
        max-width: 800px;
        align-items: center;
        height: auto;
        margin: 1.75rem auto;
      }
      @include for-size(ipad-pro) {
        max-width: 100%;
        align-items: normal;
        height: 100%;
        margin: 0;
      }
    }
    .modal-map {
      width: 100%;
      height: 100%;
      min-height: 100%;
      z-index: 0;
      @include for-size(tablet) {
        min-height: 450px;
      }
      @include for-size(desktop) {
        min-height: 450px;
      }
      @include for-size(ipad-pro) {
        min-height: 450px;
      }
    }
    .modal-footer {
      padding: 22px 16px;
      display: flex;
      justify-content: space-between;
      @include for-size(tablet) {
        padding: 21px 39px;
      }
      @include for-size(desktop) {
        padding: 22px;
        justify-content: flex-end;
      }
      @include for-size(tablet) {
        padding: 21px 39px;
        justify-content: space-between;
      }
      .button {
        width: 45%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        padding: 5px;
        @include for-size(tablet) {          
          font-size: 20px;
          line-height: 28px;
          padding: 10px;
        }
        @include for-size(desktop) {
          width: max-content;
          font-size: 20px;
          line-height: 28px;
          padding: 10px;
        }
        @include for-size(ipad-pro) {
          width: 45%;
          font-size: 20px;
          line-height: 28px;
          padding: 10px;
        }
      }
    }
  }
}
