// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar component.
// 
.navbar {
  display: none;
  background-color: transparent !important;
  padding: 25px 0;
  @include for-size(tablet) {
    display: flex;
  }
  @include for-size(desktop) {
    display: flex;
  }
  @include for-size(ipad-pro) {
    display: flex;
  }
}