.aside {
  @include fixed(top 56px left 0 bottom 0);
  width: 100%;  
  z-index: 2;
  overflow: auto;
  background-color: $color-white;
  transform: translateX(100%);
  transition: transform 400ms ease-in-out;
  @include for-size(tablet) {    
    transform: translateX(300px);
    left: auto;
    right: 0;
    width: 300px;
  }
  @include for-size(desktop) {    
    width: 300px;
    transform: translateX(0px);
  }
  @include for-size(ipad-pro) {
    width: 300px;
    left: auto;
    right: 0;
    transform: translateX(300px);
  }
  &.show--nav {
    transform: translateX(0px);
    ~ .backdrop {
      display: block;
    }
  }
  .backdrop {
    @include fixed(top 58px right 0 left 0 bottom 0);
    z-index: 1;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    display: none;
  }
  .nav-menu {
    width: 100%;
    padding: 47px 26px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border: 1px solid #e0e0e0;
    }
    .menu-list {
      margin: 0 0 45px;
      &:last-child {
        margin: 0;
      }
      .menu-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wrapper {
          display: flex;
          align-items: center;
          .title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 140.62%;
            color: #333333;
          }
        }
        i.fas {
          cursor: pointer;
          transform: rotate(180deg);
          transition: transform 400ms ease-in-out;
          &.collapsed {
            transform: rotate(0deg);
          }
        }
      }
      .menu-sublist {
        margin: 27px 0 0 9px;
        border-left: 3px solid $color-green;
        &__item {
          padding: 16px 21px;
          .link {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140.62%;
            color: $color-secondary-black;
            display: flex;
            align-items: center;
            .subtitle {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 140.62%;
              color: $color-secondary-black;
              margin: 0;
              &.text--red {
                color: $color-soft-red;
              }
            }
          }
          &--title {
            padding: 20px 12px 5px !important;
            .title {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 140.62%;
              color: $color-secondary-grey;
              margin: 0;
            }
          }
        }
      }
    }
    &--profile {
      padding: 30px 15px;
      &::after {
        border: none;
      }
      .menu-list {
        .menu-title {
          padding: 11px 12px;
          background: #f9f9f9;
          border-radius: 100px;
        }
      }
      .menu-sublist {
        margin: 0 !important;
        border: none !important;
        .menu-sublist__item {
          padding: 16px 12px;
        }
      }
    }
  }
}