// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Form page.
// -----------------------------------------------------------------------------
.form {
  &__container {
    position: relative;
    padding: 0;
    background: $bg-white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 10px;
    @include for-size(desktop) {
      padding: 18px 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: $color-black;
    margin: 0 0 15px 0;
  }
  &__tab {
    &.active[data-step="step1"] ~ .step-guide__navigation {
      justify-content: flex-end;
    }
  }
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 16px 0;
    &--has-radio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .form__label {
        width: 100%;
        margin: 0 7px !important;
      }
    }
    &--has-inline-button {
      display: flex;
      flex-direction: row;
      .form__input {
        display: flex;
        flex: 1 1 auto;
        width: auto;
        margin-right: 30px;
      }
      .button {
        display: flex;
        flex: 0 0 auto;
        padding: 10px 24px;
      }
    }
    &--has-badges {
      margin: 25px 0 0 !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .badge {
        margin:0 15px 10px 0;
      }
    }
  }
  &__label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px 0;
    color: $color-black;
    &--has-checkbox {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      .form__agreement {
        margin: 0 0 0 26px;
      }
      .form__invalid-message {
        margin: 5px 0 0 26px;
      }
    }
    &--inline-radio {
      .form__custom-radio-wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        border: none;
        border-bottom: 1px solid #E0E0E0;
      }
    }
  }
  &__input-wrapper {
    width: 100%;
    position: relative;
    .icon.icon-password {
      @include absolute(top 50% right 10px);
      z-index: 1;
      cursor: pointer;
      transform: translateY(-50%);
      &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f06e";
        color: $color-dark-grey;
      }
      &.active {
        &::after {
          content: "\f070";
        }
      }
      &.fa-eye:before {
        display: none;
      }
    }
  }
  &__input {
    background: $bg-white;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: $color-grey;
    width: 100%;
    &--checkbox {
      display: none;
      &:checked ~ .form__custom-checkbox-wrapper .form__custom-checkbox {
        background-color: $color-green;
        &::after {
          display: block;
        }
      }
    }
    &--radio {
      display: none;
      &:checked ~ .form__custom-radio-wrapper .form__custom-radio  {
        border: 5px solid $color-green;        
        &::after {
          display: block;
        }
      }
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #E0E0E0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #E0E0E0;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #E0E0E0;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #E0E0E0;
    }
  }
  &__custom-checkbox-wrapper {    
    display: flex;
    align-items: center;
    position: relative;
  }
  &__custom-checkbox {
    cursor: pointer;
    position: relative;
    background: $bg-white;
    border: 1px solid $color-green;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin: 0;
    display: flex;
    flex: 0 0 auto;
    @include absolute(left 0);
    &::after {
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      display: none;
      font-weight: bold;
      color: $color-white;
      font-size: 10px;
      @include absolute(top 50% left 50%);
      transform: translate3d(-50%, -50%, 0);
    }
  }
  &__custom-radio {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $color-green;
    margin: 0 15px 0 0;
  }
  &__custom-radio-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  &__custom-radio-wrapper {
    padding: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 0;
    border: 1px solid $color-green;
    margin: 0;
    display: flex;
    align-items: center;
  }
  &__link {
    display: inherit;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $color-black;
    text-decoration: none;
    margin: 0 0 24px 0;
    &:hover {
      color: $color-black;
    }
  }
  &__step-content {
    background-color: $bg-white;
    padding: 50px 80px;
    min-height: 450px;
  }
  &__text-helper {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #595959;
    margin: 0;
    .form__link {
      font-weight: bold;
      color: $color-green;
      display: inline;
    }
  }
  &__text-disclaimer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;    
    color: $color-red;
    margin: 0 0 31px;
  }
  &__italic {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-lite-grey;
  }
  &__agreement {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: $color-black;
    margin: 0 0 24px 0;
  }
  &__bold {
    font-weight: bold;
  }
  &__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $color-lite-grey;
    margin: 0;
    &--lg {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &__link-group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 0;
    .form__link {
      color: $color-green;
      margin: 0;
    }
  }
}
