// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Form page.
// -----------------------------------------------------------------------------
.form {
  &__container {
    position: relative;
    padding: 0;
    background: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 10px;
    @include for-size(desktop) {
      padding: 32px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: $color-black;
    margin: 0 0 24px 0;
  }
  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 16px 0;
    &--has-radio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .form__label {
        width: max-content;
        margin: 0 7px !important;        
      }
    }
    &--has-multiple-checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      width: 60%;
      margin: 0 auto 16px;
      .form__label--has-checkbox {
        width: 50%;
        margin: 0 0 5px !important;
      }
    }
  }
  &__label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 4px 0;
    color: $color-lite-grey;
    &--has-checkbox {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      .form__agreement {
        margin: 0 0 0 21px;
      }
      .form__invalid-message {
        margin: 5px 0 0 21px;
      }
    }
  }
  &__input {
    background: $bg-cream-white;
    border: 0.5px solid $color-grey;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: $color-grey;
    &--checkbox {
      display: none;
      &:checked ~ .form__custom-checkbox {
        border: 2px solid $color-green;
        &::after {
          display: block;
        }                
      }
    }
    &--radio {
      display: none;
      &:checked ~ .form__custom-radio {
        background: $color-green; 
        color: $color-white;       
        &::after {
          display: block;
        }                
      }
    }
  }
  &__custom-checkbox {
    cursor: pointer;
    position: relative;
    background: $bg-white;
    border: 2px solid $bg-gray;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin: 0;
    display: flex;
    flex: 0 0 auto;
    @include absolute(left 0);
    &::after {
      font-family: "Material Icons";
      content: "done";
      display: none;
      font-weight: bold;
      color: $color-green;
      font-size: 13px;
      @include absolute(top 50% left 50%);
      transform: translate3d(-50%, -50%, 0);
    }
  }
  &__custom-radio {
    padding: 10px 41px;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    margin: 0;
    background: $color-white;
    border: 1px solid $color-green;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color-green;
  }
  &__link {
    display: inherit;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $color-black;
    text-decoration: none;
    margin: 0 0 24px 0;
    &:hover {
      color: $color-black;
    }
  }
  &__text-helper {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    .form__link {
      font-weight: bold;
      color: $color-green;
      display: inline;
    }
  }
  &__italic {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-lite-grey;
  }
  &__agreement {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-lite-grey;
    margin: 0 0 24px 0;
  }  
  &__bold {
    font-weight: bold;
  }
  &__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $color-lite-grey;
    margin: 0;
    &--lg {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &__link-group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 0;
    .form__link {
      color: $color-green;
      margin: 0;
    }
  }  
}
