// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Form page.
// -----------------------------------------------------------------------------
.form {
  &__container {
    position: relative;
    padding: 0;
    background: $bg-white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 10px;
    @include for-size(desktop) {
      padding: 18px 16px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: $color-black;
    margin: 0 0 15px 0;
  }
  &__tab {
    &.active[data-step="step1"] ~ .step-guide__navigation {
      justify-content: flex-end;
    }
  }
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 16px 0;
    &--has-radio {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include for-size(tablet) {
        flex-direction: row;
      }
      @include for-size(desktop) {
        flex-direction: row;
      }      
      .form__label {
        width: 100%;
        margin: 0 0 15px !important;
        @include for-size(tablet) {
          margin: 0 !important;
          width: 48%;
        }
        @include for-size(desktop) {
          margin: 0 !important;
          width: 48%;
        }        
      }
    }
    &--has-inline-button {
      display: flex;
      flex-direction: row;
      .form__input {
        display: flex;
        flex: 1 1 auto;
        width: auto;
        margin-right: 15px;
        @include for-size(tablet) {
          margin-right: 30px;
        }
        @include for-size(desktop) {
          margin-right: 30px;
        }        
      }
      .button {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        padding: 10px 24px;
      }
    }
    &--has-badges {
      margin: 25px 0 0 !important;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .badge {
        margin: 0 15px 10px 0;
      }
    }
    &--has-map {
      margin: 20px 0 !important;
    }
    &--selected-location {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .button {
        padding: 5px 10px;
        font-size: 14px;
        line-height: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
      }
    }
    &--has-multiple-checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto 16px;
      justify-content: space-between;
      .form__label--has-checkbox {
        width: 100%;
        margin: 0 0 15px !important;
        border: 1px solid $color-green;
        padding: 16px 13px;
        cursor: pointer;
        @include for-size(tablet) {
          width: 48%;
          margin: 0 0 25px !important;
        }
        @include for-size(desktop) {
          width: 48%;
          margin: 0 0 25px !important;
        }        
        .form__text-label {
          margin: 0 0 0 26px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          @include for-size(desktop) {
            font-size: 16px;
            line-height: 22px;
          }          
        }      
      }
    }
  }
  &__label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px 0;
    color: $color-black;
    &--has-checkbox {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      .form__agreement {
        margin: 0 0 0 26px;
      }
      .form__invalid-message {
        margin: 5px 0 0 26px;
      }
    }
    &--inline-radio {
      .form__custom-radio {
        margin: 0;
      }
      .form__custom-radio-wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        padding: 15px 0;
      }
      &:last-child {
        .form__custom-radio-wrapper {
          border-bottom: 0px solid transparent;
        }
      }
    }
  }
  &__input-wrapper {
    width: 100%;
    position: relative;
    .icon.icon-password {
      @include absolute(top 50% right 10px);
      z-index: 1;
      cursor: pointer;
      transform: translateY(-50%);
      &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f06e";
        color: $color-dark-grey;
      }
      &.active {
        &::after {
          content: "\f070";
        }
      }
      &.fa-eye:before {
        display: none;
      }
    }
  }
  &__input {
    background: $bg-white;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: $color-black;
    @include for-size(desktop) {
      font-size: 20px;
      line-height: 28px;
    }    
    &--checkbox {
      display: none;
      &:checked ~ .form__custom-checkbox-wrapper .form__custom-checkbox {
        background-color: $color-green;
        &::after {
          display: block;
        }
      }
    }
    &--radio {
      display: none;
      &:checked ~ .form__custom-radio-wrapper .form__custom-radio {
        border: 5px solid $color-green;
        &::after {
          display: block;
        }
      }
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #e0e0e0;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #e0e0e0;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #e0e0e0;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #e0e0e0;
    }
  }
  &__custom-checkbox-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__custom-checkbox {
    cursor: pointer;
    position: relative;
    background: $bg-white;
    border: 1px solid $color-green;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin: 0;
    display: flex;
    flex: 0 0 auto;
    @include absolute(left 0);
    &::after {
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      display: none;
      font-weight: bold;
      color: $color-white;
      font-size: 10px;
      @include absolute(top 50% left 50%);
      transform: translate3d(-50%, -50%, 0);
    }
  }
  &__custom-radio {
    display: flex;
    flex: 0 0 auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $color-green;
    margin: 0 15px 0 0;
  }
  &__custom-radio-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    @include for-size(desktop) {
      font-size: 20px;
      line-height: 28px;
    }    
  }
  &__custom-radio-wrapper {
    padding: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 0;
    border: 1px solid $color-green;
    margin: 0;
    display: flex;
    align-items: center;
  }
  &__link {
    display: inherit;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $color-black;
    text-decoration: none;
    margin: 0 0 24px 0;
    &:hover {
      color: $color-black;
    }
  }
  &__step-content {
    background-color: $bg-white;
    padding: 0 0 82px;
    min-height: 450px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    @include for-size(desktop) {
      padding: 50px 80px;
      box-shadow: 0px 16px 8px rgba(0, 0, 0, 0.5);
    }    
  }
  &__text-helper {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #595959;
    margin: 0;
    .form__link {
      font-weight: bold;
      color: $color-green;
      display: inline;
    }
  }
  &__text-disclaimer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $color-red;
    margin: 0 12px 30px;
    @include for-size(tablet) {
      margin: 0 39px 30px;
      font-size: 20px;
      line-height: 28px;
    }
    @include for-size(desktop) {
      margin: 0 0 30px;
      font-size: 20px;
      line-height: 28px;
    }    
  }
  &__text-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    @include for-size(tablet) {
      font-size: 16px;
      line-height: 22px;
    }
    @include for-size(desktop) {
      font-size: 20px;
      line-height: 28px;
    }
    @include for-size(tablet) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__italic {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-lite-grey;
  }
  &__agreement {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: $color-black;
    margin: 0 0 24px 0;
  }
  &__bold {
    font-weight: bold;
  }
  &__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $color-lite-grey;
    margin: 0;
    &--lg {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &__link-group {
    display: flex;
    justify-content: space-between;
    margin: 0 0 12px 0;
    .form__link {
      color: $color-green;
      margin: 0;
    }
  }
  &__map-wrapper {
    height: 150px;
    position: relative;
    @include for-size(tablet) {
      height: 250px;
    }
    @include for-size(tablet) {
      height: 202px;
    }    
  }
  &__map-overlay {
    @include absolute(top 0 left 0 right 0 bottom 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    .icon.icon--location {
      margin-right: 10px;
    }
    .button {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $color-white;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      @include for-size(desktop) {
        font-size: 20px;
        line-height: 28px;
        padding: 12px 13px;
      }      
    }
  }
  &__map {
    width: 100%;
    height: 100%;
  }
}
.form-control:disabled, .form-control[readonly], .form-control--disabled {  
  background: rgba(248, 247, 246, 0.8);
  opacity: 1;
  pointer-events: none;
}