// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar.navbar-webapp {
  padding: 6px 0 !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: $bg-white !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include fixed(top 0 left 0 bottom 0);
  width: 100%;
  height: 56px;
  @include for-size(desktop) {
    height: 100%;
    width: 300px;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  }
  @include for-size(ipad-pro) {
    width: 100%;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    .title {
      font-family: Roboto;
      font-weight: bold;
      font-size: 32px;
      line-height: 140.62%;
      color: $color-black;
      margin: 0 0 0 15px;
    }
  }
  .sidenav {
    width: 100%;
    height: calc(100% - 56px);
    overflow: auto;
    @include fixed(top 58px right 0 bottom 0);
    background-color: $color-white;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
    &.show--nav {
      transform: translateX(0px);
      ~ .backdrop {
        display: block;
      }
    }
    @include for-size(tablet) {
      width: 300px;
      transform: translateX(300px);
    }
    @include for-size(desktop) {
      position: relative;
      top: 0;
      width: 100%;
      transform: translateX(0px);
    }
    @include for-size(ipad-pro) {
      width: 300px;
      transform: translateX(300px);
    }
  }
  .backdrop {
    @include fixed(top 58px right 0 left 0 bottom 0);
    z-index: 1;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    display: none;
  }
  .nav-action {
    .menu-button {
      display: flex;
      align-items: center;
      @include for-size(desktop) {
        display: none;
      }
      @include for-size(ipad-pro) {
        display: flex;
      }
      .menu-text {
        font-family: Roboto;
        font-weight: normal;
        font-size: 16px;
        line-height: 140.62%;
        color: $color-black;
      }
      .hamburger {
        width: 20px;
        height: 20px;
        border: 1px solid $color-secondary-black;
        border-left: none;
        border-right: none;
        display: flex;
        flex: 0 0 auto;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 15px;
        &::after {
          content: "";
          @include absolute(top 50% left 0);
          transform: translateY(-50%);
          border-top: 1px solid $color-secondary-black;
          width: 75%;
        }
      }
    }
  }
  .nav-menu {
    width: 100%;
    padding: 47px 26px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border: 1px solid #e0e0e0;
    }
    .menu-list {
      margin: 0 0 45px;
      &:last-child {
        margin: 0;
      }
      .menu-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wrapper {
          display: flex;
          align-items: center;
          .title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 140.62%;
            color: #333333;
          }
        }
        i.fas {
          cursor: pointer;
          transform: rotate(180deg);
          transition: transform 400ms ease-in-out;
          &.collapsed {
            transform: rotate(0deg);
          }
        }
      }
      .menu-sublist {
        margin: 27px 0 0 9px;
        border-left: 3px solid $color-green;
        &__item {
          padding: 16px 21px;
          .link {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140.62%;
            color: $color-secondary-black;
            display: flex;
            align-items: center;
            .subtitle {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 140.62%;
              color: $color-secondary-black;
              margin: 0;
              &.text--red {
                color: $color-soft-red;
              }
            }
          }
          &--title {
            padding: 20px 12px 5px !important;
            .title {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 140.62%;
              color: $color-secondary-grey;
              margin: 0;
            }
          }
        }
      }
    }
    &--profile {
      padding: 30px 15px;
      &::after {
        border: none;
      }
      .menu-list {
        .menu-title {
          padding: 11px 12px;
          background: #f9f9f9;
          border-radius: 100px;
        }
      }
      .menu-sublist {
        margin: 0 !important;
        border: none !important;
        .menu-sublist__item {
          padding: 16px 12px;
        }
      }
    }
  }
}
