.webapp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #F5F6F8;
  height: 100%;
  .section {
    padding-top: 56px;
    width: calc(100% - 300px);
    @include for-size(desktop) {
      padding-top: 0;
    }
    @include for-size(ipad-pro) {
      padding-top: 56px;
    }
  }
  .content-list {
    display: flex;
    align-items: center;
    &--column {
      flex-direction: column;
      align-items: flex-start;
    }
    &__item {
      .wrapper {
        display: flex;
        align-items: center;
      }
    }
  }  
}