.webapp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  @include for-size(desktop) {
    align-items: flex-end;
  }  
  &--room-page {
    .aside {
      .sidenav {
        .nav-menu {
          .menu-list {
            &.menu-list--room {
              display: block;
            }
            &.menu-list--whare {
              display: none;
            }
          }
        }
      }
    }
  }
  .section {
    background: #f5f6f8;
    padding-top: 56px;
    width: 100%;
    height: 100%;
    overflow: auto;
    @include for-size(desktop) {
      padding-top: 0;
      width: calc(100% - 300px);
    }    
  }
  .content {
    margin: 31px 18px;
    @include for-size(desktop) {
      margin: 48px 23px;
    }    
  }
  .card {
    margin: 0 0 30px;
    @include for-size(desktop) {
      margin: 0 15px 30px;
    }    
  }
  .content-list {
    display: flex;
    align-items: center;
    &--column {
      flex-direction: column;
      align-items: flex-start;
      .content-list__item {
        margin: 0 0 15px;
        &:last-child {
          margin: 0;
        }
        .wrapper {
          i.fas {
            margin: 0 10px 0 0;
            color: $color-secondary-grey;
          }
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 140.62%;
          color: $color-black;
        }
      }
    }
    &__item {
      .wrapper {
        display: flex;
        align-items: center;
        .text {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 140.62%;
          color: $color-black;
        }
      }
    }
  }
  .header-navigation {    
    display: flex;
    align-items: center;
    margin: 0 0 30px;
    .button {
      margin-right: 14px;
    }
    .title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 140.62%;
      color: $color-secondary-grey;
      margin: 0;
    } 
  }
  .form.form--section {
    background-color: $color-white;
    border-top: 6px solid $color-green;
    padding: 20px;
    .form-group {
      margin-bottom: 15px;
      .form__field {
        margin-bottom: 25px;
        .form__label--inline-radio {
          &:last-child {
            margin-bottom: 0;
          }
          .form__input--radio {
            &:checked ~ .form__custom-radio-wrapper .form__custom-radio {
              border: 7px solid $color-green;
            }
            &:checked ~ .input-wrapper--other {
              display: block;
            }
          }
          .form__custom-radio-wrapper {
            .form__custom-radio-title {
              font-size: 16px;
              line-height: 140.62%;
            }
          }
          .input-wrapper--other {
            display: none;
          }
        }
        .form__map-wrapper {
          margin-bottom: 15px;
        }
        .flex-wrapper {
          flex-direction: column;
          @include for-size(tablet) {
            flex-direction: row;
          }
          @include for-size(desktop) {
            flex-direction: row;
          }          
          .text {
            margin: 0 0 15px;
            @include for-size(tablet) {
              margin: 0;
            }
            @include for-size(desktop) {
              margin: 0;
            }            
          }
          .button {
            width: 100%;
            @include for-size(tablet) {
              width: max-content;
            }
            @include for-size(desktop) {
              width: max-content;
            }            
          }
        }
        &.form__field--has-radio {
          .form__label {
            .form__input--radio {
              &:checked ~ .form__custom-radio-wrapper {
                border: 1px solid $color-green;
                .form__custom-radio {
                  border: 7px solid $color-green;
                }
                .form__custom-radio-title {
                  color: $color-green;                
                }
              }
            }
            .form__custom-radio-wrapper {
              border: 1px solid $color-secondary-black;
              .form__custom-radio-title {
                font-size: 16px;
                line-height: 140.62%; 
              }              
            }
          }
          &.form__field--multiple-row {
            flex-wrap: wrap;
            margin-bottom: 0;
            .form__label {
              margin-bottom: 25px !important;
            }
          }
        }
        &.form__field--has-multiple-checkbox {
          margin-bottom: 0;
          .form__label--has-checkbox {
            padding: 0;
            border: none;
            .form__input--checkbox {
              &:checked ~ .form__custom-checkbox-wrapper {      
                border: 1px solid $color-green;
                .form__text-label {
                  color: $color-green;
                }
              } 
            }
            .form__custom-checkbox-wrapper {        
              border: 1px solid $color-secondary-black;
              padding: 16px 13px;
              width: 100%;
              .form__custom-checkbox {
                left: 16px;
              }
              .form__text-label {
                font-size: 16px;
                line-height: 140.62%;
              }
            }
          }
        }
        &.form__field--has-inline-button {
          flex-direction: column;
          @include for-size (tablet) {
            flex-direction: row;
          }
          @include for-size (desktop) {
            flex-direction: row;
          }          
          .form__input {
            margin-right: 0;
            margin-bottom: 14px;
            @include for-size (tablet) {
              margin-right: 15px;
              margin-bottom: 0;
            }
            @include for-size (desktop) {
              margin-right: 15px;
              margin-bottom: 0;
            }            
          }
          .button {
            justify-content: center;
            @include for-size (tablet) {
              justify-content: flex-start;
            }
            @include for-size (desktop) {
              justify-content: flex-start;
            }            
          }
        }
      }
    }
    .label-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 140.62%;
      color: $color-secondary-black;
      margin: 0 0 15px;
    }
    .form__map-wrapper {
      height: 400px;
    }
    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .button {
      width: 100%;
      padding: 7px 47px;
      @include for-size(tablet) {
        width: max-content;
      }
      @include for-size(desktop) {
        width: max-content;
      }      
    }
  }
}
